@charset "utf-8";
.nav-bar {
    line-height: 40px;
    background-color: #2979ff
}

.nav-bar .category-mod {
    float: left;
    width: 192px;
    line-height: 40px;
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, .4)
}

.nav-bar .category-hd {
    position: relative;
    display: block;
    height: 40px
}

.nav-bar .cate-tit {
    color: #fff;
    margin-left: 15px;
    font-size: 14px
}


/*商品分类侧边栏*/

.nav-bar .nav_main {
    position: absolute;
    left: 0;
    height: 430px;
}

.nav_main .nav_wrap {
    width: 192px;
    height: 430px;
    box-sizing: border-box;
    padding: 15px 0;
    background: rgba(0, 0, 0, .6);
    cursor: pointer
}

.nav_main .nav_ul {
    width: 192px;
    color: #fff;
    font-size: 14px
}

.nav_main .nav_ul li {
    width: 192px;
    height: 36px;
    line-height: 36px;
    position: relative;
    padding-left: 12px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav_main .nav_ul .bgcolor_change {
    background: rgba(245, 245, 245, 0.7);
}

.nav_main .nav_ul .fontcolor_change {
    color: rgb(0, 0, 0)
}

.nav_main .nav_ul li a {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%
}

.nav_main .nav_ul li i {
    width: 8px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 12px;
    background: url(../img/jiantou.png) left top no-repeat
}

.nav-bar .cate-ico {
    float: right;
    right: 15px;
    width: 25px;
    height: 25px;
    background-position: -33px 0;
    margin: 10px 10px 0 0
}


/* 商品侧边栏鼠标悬浮出现的部分 */

.nav-side-item {
    height: 430px;
    width: 0px;
    position: absolute;
    left: 192px;
    top: 0;
    overflow: hidden;
}

.nav-side-item .left,
.nav-side-item .right {
    float: left
}

.nav-side-item .left {
    width: 207px;
    height: 430px;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff
}

.nav-side-item .left li {
    width: 207px;
    height: 50px;
    font-size: 12px;
    line-height: 40px;
}

.nav-side-item .left li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
}

.nav-side-item .left li img {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 5px 28px 0;
    border: none;
}

.nav-side-item .right {
    width: 240px;
}

.nav-side-item .right li {
    width: 232px;
    height: 104px;
    background: #FFF;
    border: 4px solid #f0f0f0;
    float: left;
    border-bottom: none;
}

.nav-side-item .right .red {
    background: #d71247;
}

.nav-side-item .right .blue {
    background: #0a5ca8;
}

.nav-side-item .right span,
.nav-side-item .right .span {
    width: 60px;
    height: 20px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 0 auto 1px;
}

.nav-side-item .right .pic-left {
    width: 70px;
    height: 70px;
    margin: 0 28px 0 17px;
    border: none;
    float: left
}

.nav-side-item .right .info-right {
    float: left;
    font-size: 12px;
    line-height: 1.6
}

.nav-side-item .right .name {
    width: 90px;
    display: inline-block;
    margin: 8px 0 6px;
    height: 36px;
    overflow: hidden
}

.nav-side-item .right .price {
    display: block;
}


/* 横向导航栏 */

.nav-bar .ul-nav {
    float: left;
    margin-left: 15px
}

.nav-bar .ul-nav li {
    float: left;
    padding: 0 0 0 35px;
    position: relative
}

.nav-bar .ul-nav li a {
    font-size: 14px;
    color: #f3f3f3;
    font-weight: 700
}

.nav-bar .ul-nav li a:hover {
    color: #fff
}

.nav-bar .ul-nav i {
    width: 18px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: -18px
}

.nav-bar .ul-nav .ico-hot {
    background-position: 0 -597px
}

.nav-bar .ul-nav .ico-new {
    background-position: 0 -623px
}

.nav-bar .ul-nav .ico-vip {
    background-position: 0 -648px
}


/* banner图部分*/

.pb-main {
    margin-bottom: 30px;
    position: relative
}

.pb-main .layout-grid {
    position: relative;
    z-index: 10;
    background-color: #f2f2f2
}

.pb-main .banner-wrap {
    width: 951px
}

.fd-left {
    float: left
}

.main-banner {
    overflow: hidden;
    width: 100%;
    height: 430px;
    position: relative;
}

.banner-pic,
.main-banner {
    position: relative
}

.banner-pic {
    left: 0;
    width: 100%;
    height: 430px;
    position: absolute;
}

.banner-pic li {
    float: left;
    width: 951px;
}

.main-banner .banner-btn {
    left: 50%;
    margin-left: -55px;
    height: 15px;
    text-align: center;
    bottom: 10px;
    padding: 1px 15px 2px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
}

.main-banner .banner-btn .banner-active {
    background: #ff4949;
}

.main-banner .banner-btn li {
    overflow: hidden;
    margin: 1px 5px 0;
    width: 12px;
    height: 12px;
    background: #b6b6b6;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}

.main-banner .left,
.main-banner .right {
    position: absolute;
    font-size: 20px;
    width: 20px;
    height: 60px;
    opacity: .85;
    filter: alpha(opacity=85);
    cursor: pointer;
    top: 50%;
    margin-top: -30px;
    display: none;
    background: url(../img/index_new_icos.png) no-repeat
}

.main-banner .left {
    left: 210px;
    background-position: -125px -31px
}

.main-banner .right {
    right: 20px;
    background-position: -158px -31px
}


/* banner图左边登录注册 */

.ehaier-inf .grid-ud,
.ehaier-inf .service-inf .service-list {
    border-top: 1px #eaeaea solid;
    overflow: hidden
}

.ehaier-inf {
    width: 230px;
    margin-top: 1px;
    background-color: #fff
}

.ehaier-inf .member-inf {
    padding: 10px;
    text-align: center
}

.ehaier-inf .user-img {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    overflow: hidden
}

.ehaier-inf .user-hd,
.ehaier-inf .user-rank {
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px 0;
    color: #999;
    overflow: hidden
}

.ehaier-inf .user-hd {
    width: 190px
}

.ehaier-inf .user-rank {
    line-height: 30px;
    height: 30px
}

.ehaier-inf .user-rank img {
    margin-right: 5px
}

.ehaier-inf .sign-wrap {
    text-align: center;
    padding: 9px 0 0
}

.btn-small {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 11px;
    background-color: #2979ff;
    color: #fff;
}

.btn-small:hover {
    color: white
}

.ehaier-inf .sign-wrap a {
    margin: 0 5px
}

.ehaier-inf .grid-ud {
    border-bottom: 1px #eaeaea solid;
    height: 61px
}

.ehaier-inf .grid-ud a {
    width: 50%;
    padding: 8px 0;
    text-align: center;
    margin-left: -1px;
    border-left: 1px #eaeaea solid;
    color: #666
}

.ehaier-inf .grid-ud a i {
    width: 28px;
    height: 22px;
    margin-bottom: 5px
}

.ehaier-inf .grid-ud a .sclub-ico {
    background: url(../img/index_new_icos.png) 0 -40px
}

.ehaier-inf .grid-ud a .ssg-ico {
    background: url(../img/index_new_icos.png) 0 -73px
}

.ehaier-inf .grid-ud a:hover {
    color: #2979ff
}

.ehaier-inf .grid-ud a:hover .sclub-ico {
    background: url(../img/index_new_icos.png) -36px -40px
}

.ehaier-inf .grid-ud a:hover .ssg-ico {
    background: url(../img/index_new_icos.png) -36px -73px
}

.ehaier-inf .grid-ud a:hover .nosg-ico {
    background: url(../img/index_new_icos.png) -36px -103px
}

.ehaier-inf .notice-inf {
    padding: 0 10px 10px
}

.ehaier-inf .notice-hd {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px #eaeaea solid
}

.ehaier-inf .notice-hd .tit {
    float: left;
    border-bottom: 1px #2979ff solid;
    color: #333
}

.ehaier-inf .notice-hd .link-more {
    float: right
}

.ehaier-inf .notice-bd {
    padding-top: 8px
}

.ehaier-inf .notice-bd li {
    height: 22px;
    line-height: 22px;
    overflow: hidden
}

.ehaier-inf .notice-bd a {
    width: 100%
}

.ehaier-inf .notice-bd a,
.ehaier-inf .user-hd,
.ellipsis,
.topic-saying-mod .mod-bd .link-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.ehaier-inf .service-inf li {
    float: left;
    height: 40px;
    line-height: 40px;
    border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    width: 50%;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center
}

.ehaier-inf .service-inf li .ico {
    width: 25px;
    height: 25px;
    margin-right: 3px
}

.ehaier-inf .service-inf .ser_1 .ico {
    background-position: 0 -131px
}

.ehaier-inf .service-inf .ser_2 .ico {
    background-position: -36px -131px
}

.ehaier-inf .service-inf .ser_3 .ico {
    background-position: 0 -164px
}

.ehaier-inf .service-inf .ser_4 .ico {
    background-position: -36px -164px
}


/* banner图下面分会场选择部分 */

.saleHot-mod {
    margin-bottom: 30px
}

.saleHot-mod ul {
    margin-left: -10px
}

.saleHot-mod li {
    width: 290px;
    height: 150px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-left: 10px
}

.saleHot-mod li img {
    width: 300px;
    height: 150px
}