    @charset "utf-8";
    a,
    li,
    ul,
    em,
    strong,
    p,
    i,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: normal
    }
    
    body {
        font-size: 12px
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    a,
    body {
        color: #666
    }
    
    .clearfix:after {
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        content: " ";
        font-size: 0
    }
    
    .details {
        width: 1100px;
        margin: 0 auto;
    }
    
    .details .item-pic {
        float: left;
        width: 384px;
    }
    
    .details .item-bpic {
        border: 1px solid #ddd;
        width: 382px;
        height: 405px;
        padding-top: 1px;
        text-align: center;
        font-size: 0em;
    }
    
    .details .item-bpic img {
        border: 0;
        vertical-align: middle;
        width: 380px;
        height: 380px;
    }
    
    .item-piclist {
        padding: 15px 29px 0;
        width: 325px;
        position: relative;
    }
    
    .piclist-all ul {
        overflow: hidden;
        width: 325px;
    }
    
    .lists {
        float: left;
        width: 65px;
        height: 70px;
        text-align: center;
    }
    
    .lists img {
        width: 53px;
        height: 53px;
        border: 1px solid #ccc
    }
    
    .item-piclist i {
        background: url(../img/New_sprite-product.png) no-repeat;
    }
    
    .item-piclist .left,
    .item-piclist .right {
        position: absolute;
        display: block;
        top: 21px;
        width: 24px;
        height: 40px;
        text-indent: -999em;
        overflow: hidden;
    }
    
    .item-piclist .left {
        left: 0;
        background-position: -1px -95px;
    }
    
    .item-piclist .right {
        right: 0;
        background-position: 3px -145px
    }
    /* 右边 */
    
    .item-info {
        width: 605px;
        margin-left: 10px;
        float: left
    }
    
    .item-title {
        overflow: hidden;
        font-size: 1.4em;
        color: #000;
        padding: 0 0 8px;
        font-weight: bold
    }
    
    .item-activity {
        font-size: 1.17em;
        color: #d71249;
        line-height: 1.4em;
        font-weight: bold
    }
    
    .item-function {
        border: 1px dashed #ddd;
        line-height: 1.4em;
        margin: 10px 0;
        padding: 6px;
        font-weight: normal;
        font-size: 1em
    }
    
    .item-info-list {
        padding-top: 5px
    }
    
    .item-info-list li,
    .item-info-list .line {
        line-height: 25px;
    }
    
    .item-info-list .line {
        padding: 0 5px;
    }
    
    .item-info-list .price,
    .item-info-list .eval {
        color: #d71249;
        font-size: 1rem
    }
    
    .item-info-list .price {
        font-size: 1rem
    }
    
    .item-info-list .title {
        display: inline-block;
        width: 68px;
    }
    
    .deliverbox {
        position: relative;
        background: #f4f5f7;
        border: 1px solid #ddd;
        padding: 10px;
    }
    
    .p-deliver {
        zoom: 1;
        line-height: 2em;
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
    }
    
    .location {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #cecbce;
        cursor: pointer;
        height: 22px;
        line-height: 21px;
        padding: 0 18px 0 5px;
        margin: 0 4px 0 0;
    }
    
    .em-add,
    .em-sub {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 1.17em;
        text-align: center;
        cursor: pointer;
    }
    
    .buy-num {
        display: inline-block;
        height: 20px;
        border: 1px solid #ddd;
        overflow: hidden;
    }
    
    .buy-num .num {
        height: 22px;
        line-height: 18px;
        background: #fff;
        border: 0;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        width: 25px;
        text-align: center;
    }
    
    .p-product-btn {
        padding: 0 0 0 48px;
        margin: 20px 0;
    }
    
    .p-product-btn .btn-buy,
    .p-product-btn .btn-cart {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        padding-left: 20px;
        background: url(../img/New_sprite-product.png) no-repeat
    }
    
    .p-product-btn .btn-buy {
        width: 101px;
    }
    
    .p-product-btn .btn-cart {
        width: 117px;
        margin-left: 10px;
        background-position: -124px 0px;
    }
    
    .SG {
        margin-left: 45px;
        margin-top: 5px;
    }