@charset "utf-8";

/* 重置部分标签样式 */

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em
}

textarea {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

a,
body {
    color: #666
}

body,
html {
    height: 100%;
}

a {
    text-decoration: none
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    border: 0;
    background: 0 0;
    cursor: pointer
}

a:hover {
    color: #2979ff
}

button,
input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    background: #f6f6f6!important
}


/* 清除浮动 */

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: " ";
    font-size: 0
}


/* 共用类名 */

.wrapper {
    width: 1190px;
    margin: 0 auto;
}

.mark-blue {
    color: #2979ff
}

.mark-gray {
    color: #999
}

.head-wrap .hot-words {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dis-txt,
.nav_main .panel_recommend_right .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.links-ver {
    overflow: hidden;
    margin: 12px 10px 0;
    width: 1px;
    height: 10px;
    background-color: #999
}

.dis-txt {
    height: 36px
}

.fake-border-h,
.fake-border-v {
    position: absolute;
    background-color: #eaeaea;
    z-index: 10;
    overflow: hidden
}

.fake-border-h {
    width: 1px;
    height: 100%
}

.fake-border-v {
    height: 1px;
    width: 100%
}

.mod-price {
    font-size: 14px;
    color: #ff4949
}

.mod-price i {
    font-family: arial;
    font-weight: 400;
    font-size: 12px
}

.layout-grid {
    margin: 0 auto;
    width: 1190px
}

.fd-right {
    float: right
}


/* 首页用到的所有图标 */

.a-tip-servicer,
.ehaier-inf .grid-ud a i,
.ehaier-inf .service-inf li .ico,
.mod-hd .tit-ico,
.footer-mod .about-inf .ft-btn .ico,
.footer-mod .promise-item .ico,
.head-wrap .cart-empty-tip .empty-ico,
.head-wrap .mini-cart .cart-ico,
.head-wrap .search-form .btn-search,
.icon_v2,
.nav-bar .cate-ico,
.nav-bar .ul-nav i,
.so-popbox .s-sopop-close,
.top-bar .location-wrap .ico,
.topbox-close,
a.a-backtop {
    background-image: url(../img/index_new_icos.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.a-tip-servicer,
.ehaier-inf .grid-ud a i,
.ehaier-inf .service-inf li .ico,
.mod-hd .tit-ico,
.btn-small,
.footer-mod .about-inf .ft-btn .ico,
.footer-mod .promise-item .ico,
.head-wrap .cart-empty-tip .empty-ico,
.head-wrap .mini-cart .cart-ico,
.head-wrap .search-form .btn-search,
.icon_v2,
.inlineBlock,
.links-ver,
.nav-bar .cate-ico,
.nav-bar .ul-nav i,
.so-popbox .s-sopop-close,
.top-bar .location-wrap .ico,
.topbox-close,
a.a-backtop {
    display: inline-block;
}

.ehaier-inf .grid-ud a i,
.ehaier-inf .service-inf li .ico,
.icon_v2,
.mod-hd .tit-ico,
.optimal-album-mod .mod-bd .optimal-item .hot-tag,
.optimal-album-mod .mod-hd .album-ico,
.s-thumb-next,
.s-thumb-prev,
.slider-banner-mod .slider-control,
.topic-saying-mod .mod-bd .scroll-btn,
.xsqg-mod .product-dis li .hot-tag {
    background-image: url(../img/index_new_icos2.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.btn-small,
.channals-mod .ver-border,
.ehaier-inf .grid-ud a i,
.ehaier-inf .notice-bd a,
.ehaier-inf .service-inf li .ico,
.icon_v2,
.inlineBlock,
.links-ver,
.mod-hd .tit-ico,
.optimal-album-mod .mod-bd .optimal-item .hot-tag,
.optimal-album-mod .mod-hd .alb-tit,
.optimal-album-mod .mod-hd .album-ico,
.p-slide-thumb .s-thumb,
.s-thumb-next,
.s-thumb-prev,
.slider-banner-mod .slider-control,
.topic-saying-mod .mod-bd .scroll-btn,
.xsqg-mod .mod-hd .J_fstimer span,
.xsqg-mod .product-dis li .hot-tag {
    display: inline-block;
}


/* top-header部分 */

.top-bar {
    background-color: #f6f6f6
}

.top-bar .bar-wrap {
    line-height: 35px
}

.top-bar .location-wrap {
    float: left
}

.top-bar .location-wrap .ico {
    width: 15px;
    height: 20px;
    background-position: 0 -1px
}

.top-bar .location-wrap .s-city {
    color: #333;
    cursor: pointer
}

.top-bar .bar-links li {
    float: left;
    color: #999;
    position: relative;
}

.top-bar .bar-links .links-ver {
    height: 10px;
    margin: 12px 0 0;
}

.top-bar .bar-links li a {
    color: #999;
    position: relative;
    z-index: 30;
    display: block;
    padding: 0 10px;
    border: 1px #f6f6f6 solid;
    border-top: 0 none;
    border-bottom: 0 none;
}

.top-bar .bar-links li a:hover {
    color: #2979ff
}

.top-bar .bar-links .w-login {
    margin-right: 20px
}

.top-bar .bar-links .w-login a {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 35px;
    border: 0 none;
}

.top-bar .bar-links .w-login .register {
    padding: 3px 5px;
    background: #33beff;
    color: #fff;
    border-radius: 3px;
    margin-left: 5px;
}

.top-bar .bar-links .w-login .links-ver {
    margin: 12px 3px 0
}

.top-bar .bar-links .J_tnliHover {
    background-image: url(http://cdn09.ehaier.com/v5/images/index_new_icos.png);
    background-position: right -655px;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
}


/* 商户平台的下拉菜单：招商入驻 */

.top-bar .bar-links li .topNav-layer {
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    background: #fff;
    z-index: 40;
}


/* header部分 */

.head-wrap {
    background-color: #fff;
    z-index: 20;
    padding-top: 33px;
    padding-bottom: 15px
}

.head-wrap .h1-site {
    float: left;
    padding: 0 0 0 15px;
    position: relative
}

.head-wrap .h1-site .s-slogan {
    margin-left: 10px
}

.head-wrap .h1-site .full-slg {
    position: absolute;
    top: -10px;
    width: 300px;
    height: 65px;
    overflow: hidden
}

.head-wrap .h1-site img {
    float: none!important
}


/* 搜索框 */

.head-wrap .all-search {
    width: 540px;
    margin: 0 auto;
    position: relative
}

.head-wrap .search-form {
    position: relative
}

.head-wrap .search-form .txt-search {
    width: 470px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #2979ff;
    padding: 0 10px;
    vertical-align: middle;
    color: #999;
    border-radius: 0
}

.head-wrap .search-form .btn-search {
    display: inline-block;
    width: 50px;
    height: 32px;
    background-color: #2979ff;
    background-position: -62px 1px;
    position: absolute;
    right: 0
}

.head-wrap .hot-words {
    padding: 5px 0
}

.head-wrap .hot-words a {
    color: #999;
    margin-right: 10px
}

.head-wrap .hot-words a.mark-blue,
.head-wrap .hot-words a:hover {
    color: #2979ff
}


/* 搜索框下拉列表 */

.head-wrap .ul-searchKeyList {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    overflow: hidden;
    width: 538px;
    max-height: 153px;
    border: 1px solid #f2f2f2;
    background: #fff;
    z-index: 999999;
}

.head-wrap .ul-searchKeyList li {
    padding: 0 10px;
    line-height: 1.9em;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.head-wrap .ul-searchKeyList li:hover {
    background: #e3e3e3
}

.head-wrap .ul-searchKeyList .li-searchKeyOver {
    background: #e3e3e3
}

.head-wrap .ul-searchKeyList .s-keyword {
    float: left;
    color: #666
}

.head-wrap .ul-searchKeyList .s-keyNumber {
    float: right;
    color: #999
}


/* 购物车 */

.search-mod {
    position: relative;
}

.head-wrap .cart-wrap {
    position: absolute;
    top: 0;
    right: 64px;
    z-index: 20
}

.head-wrap .mini-cart {
    border: 1px solid #eaeaea;
    position: relative;
    width: 168px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    z-index: 30;
    background-color: #fff
}

.head-wrap .mini-cart a {
    color: #000
}

.head-wrap .mini-cart a:hover {
    color: #2979ff
}

.head-wrap .mini-cart .cart-ico {
    width: 15px;
    height: 15px;
    background-position: -75px -232px;
    vertical-align: text-top
}

.head-wrap .mini-cart .shop-num {
    background-color: #f40;
    color: #fff;
    border-radius: 7px;
    position: absolute;
    min-width: 12px;
    text-align: center;
    padding: 1px;
    line-height: 12px;
    font-size: 12px;
    top: 5px;
    left: 124px
}

.head-wrap .mini-cart-list {
    display: none;
    position: absolute;
    background-color: #fffefe;
    z-index: 20;
    width: 310px;
    border: 1px solid #eaeaea;
    top: 32px;
    right: 0
}

.head-wrap .mini-cart-over .mini-cart {
    background-color: #fffefe;
    border-bottom-color: #fffefe
}

.head-wrap .mini-cart-over .mini-cart .cart-ico {
    background-position: -99px -231px
}

.head-wrap .mini-cart-over .mini-cart a {
    color: #2979ff
}

.head-wrap .mini-cart-over .mini-cart-list {
    display: block
}

.head-wrap .cart-empty-tip {
    padding: 15px;
    line-height: 30px;
    text-align: center
}

.head-wrap .cart-empty-tip .empty-ico {
    width: 25px;
    height: 43px;
    background-position: -99px -271px
}


/* banner部分 */

.nav-bar {
    line-height: 40px;
    background-color: #2979ff
}

.nav-bar .category-mod {
    float: left;
    width: 192px;
    line-height: 40px;
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, .4)
}

.nav-bar .category-hd {
    position: relative;
    display: block;
    height: 40px
}

.nav-bar .cate-tit {
    color: #fff;
    margin-left: 15px;
    font-size: 14px
}


/*商品分类侧边栏*/

.nav-bar .nav_main {
    position: absolute;
    left: 0;
    height: 430px;
}

.nav_main .nav_wrap {
    width: 192px;
    height: 430px;
    box-sizing: border-box;
    padding: 15px 0;
    background: rgba(0, 0, 0, .6);
    cursor: pointer
}

.nav_main .nav_ul {
    width: 192px;
    color: #fff;
    font-size: 14px
}

.nav_main .nav_ul li {
    width: 192px;
    height: 36px;
    line-height: 36px;
    position: relative;
    padding-left: 12px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav_main .nav_ul .bgcolor_change {
    background: rgba(245, 245, 245, 0.7);
}

.nav_main .nav_ul .fontcolor_change {
    color: rgb(0, 0, 0)
}

.nav_main .nav_ul>li>a {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%
}

.nav_main .nav_ul>li>i {
    width: 8px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 12px;
    background: url(../img/jiantou.png) left top no-repeat
}

.nav-bar .cate-ico {
    float: right;
    right: 15px;
    width: 25px;
    height: 25px;
    background-position: -33px 0;
    margin: 10px 10px 0 0
}


/* 商品侧边栏鼠标悬浮出现的部分 */

.nav-side-item {
    height: 430px;
    width: 0px;
    position: absolute;
    left: 192px;
    top: -15px;
    overflow: hidden;
}

.nav-side-item .left,
.nav-side-item .right {
    float: left
}

.nav-side-item .left {
    width: 207px;
    height: 430px;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff
}

.nav-side-item .left li {
    width: 207px;
    height: 50px;
    font-size: 12px;
    line-height: 40px;
}

.nav-side-item .left li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
}

.nav-side-item .left li img {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 5px 28px 0;
    border: none;
}

.nav-side-item .right {
    width: 240px;
}

.nav-side-item .right li {
    width: 232px;
    height: 108px;
    background: #FFF;
    border: 4px solid #f0f0f0;
    float: left;
    border-bottom: none;
}

.nav-side-item .right .red {
    background: #d71247;
}

.nav-side-item .right .blue {
    background: #0a5ca8;
}

.nav-side-item .right span,
.nav-side-item .right .span {
    width: 60px;
    height: 20px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 0 auto 1px;
}

.nav-side-item .right .pic-left {
    width: 70px;
    height: 70px;
    margin: 0 28px 0 17px;
    border: none;
    float: left
}

.nav-side-item .right .info-right {
    float: left;
    font-size: 12px;
    line-height: 1.6
}

.nav-side-item .right .name {
    width: 90px;
    display: inline-block;
    margin: 8px 0 6px;
    height: 36px;
    overflow: hidden
}

.nav-side-item .right .price {
    display: block;
}


/* 横向导航栏 */

.nav-bar .ul-nav {
    float: left;
    margin-left: 15px
}

.nav-bar .ul-nav li {
    float: left;
    padding: 0 0 0 35px;
    position: relative
}

.nav-bar .ul-nav li a {
    font-size: 14px;
    color: #f3f3f3;
    font-weight: 700
}

.nav-bar .ul-nav li a:hover {
    color: #fff
}

.nav-bar .ul-nav i {
    width: 18px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: -18px
}

.nav-bar .ul-nav .ico-hot {
    background-position: 0 -597px
}

.nav-bar .ul-nav .ico-new {
    background-position: 0 -623px
}

.nav-bar .ul-nav .ico-vip {
    background-position: 0 -648px
}


/* banner图部分*/

.pb-main {
    margin-bottom: 30px;
    position: relative
}

.pb-main .layout-grid {
    position: relative;
    z-index: 10;
    overflow: hidden;
    background-color: #f2f2f2
}

.pb-main .banner-wrap {
    width: 951px
}

.fd-left {
    float: left
}

.main-banner {
    overflow: hidden;
    width: 100%;
    height: 430px;
    position: relative;
}

.banner-pic,
.main-banner {
    position: relative
}

.banner-pic {
    left: 0;
    width: 100%;
    height: 430px;
    position: absolute;
}

.banner-pic li {
    float: left;
    width: 951px;
}

.main-banner .banner-btn {
    left: 50%;
    margin-left: -55px;
    height: 15px;
    text-align: center;
    bottom: 10px;
    padding: 1px 15px 2px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
}

.main-banner .banner-btn .banner-active {
    background: #ff4949;
}

.main-banner .banner-btn li {
    overflow: hidden;
    margin: 1px 5px 0;
    width: 12px;
    height: 12px;
    background: #b6b6b6;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}

.main-banner .left,
.main-banner .right {
    position: absolute;
    font-size: 20px;
    width: 20px;
    height: 60px;
    opacity: .85;
    filter: alpha(opacity=85);
    cursor: pointer;
    top: 50%;
    margin-top: -30px;
    display: none;
    background: url(../img/index_new_icos.png) no-repeat
}

.main-banner .left {
    left: 210px;
    background-position: -125px -31px
}

.main-banner .right {
    right: 20px;
    background-position: -158px -31px
}


/* banner图左边登录注册 */

.ehaier-inf .grid-ud,
.ehaier-inf .service-inf .service-list {
    border-top: 1px #eaeaea solid;
    overflow: hidden
}

.ehaier-inf {
    width: 230px;
    margin-top: 1px;
    background-color: #fff
}

.ehaier-inf .member-inf {
    padding: 10px;
    text-align: center
}

.ehaier-inf .user-img {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    overflow: hidden
}

.ehaier-inf .user-hd,
.ehaier-inf .user-rank {
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px 0;
    color: #999;
    overflow: hidden
}

.ehaier-inf .user-hd {
    width: 190px
}

.ehaier-inf .user-rank {
    line-height: 30px;
    height: 30px
}

.ehaier-inf .user-rank img {
    margin-right: 5px
}

.ehaier-inf .sign-wrap {
    text-align: center;
    padding: 9px 0 0
}

.btn-small {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 11px;
    background-color: #2979ff;
    color: #fff;
}

.btn-small:hover {
    color: white
}

.ehaier-inf .sign-wrap a {
    margin: 0 5px
}

.ehaier-inf .grid-ud {
    border-bottom: 1px #eaeaea solid;
    height: 61px
}

.ehaier-inf .grid-ud a {
    width: 50%;
    padding: 8px 0;
    text-align: center;
    margin-left: -1px;
    border-left: 1px #eaeaea solid;
    color: #666
}

.ehaier-inf .grid-ud a i {
    width: 28px;
    height: 22px;
    margin-bottom: 5px
}

.ehaier-inf .grid-ud a .sclub-ico {
    background: url(../img/index_new_icos.png) 0 -40px
}

.ehaier-inf .grid-ud a .ssg-ico {
    background: url(../img/index_new_icos.png) 0 -73px
}

.ehaier-inf .grid-ud a:hover {
    color: #2979ff
}

.ehaier-inf .grid-ud a:hover .sclub-ico {
    background: url(../img/index_new_icos.png) -36px -40px
}

.ehaier-inf .grid-ud a:hover .ssg-ico {
    background: url(../img/index_new_icos.png) -36px -73px
}

.ehaier-inf .grid-ud a:hover .nosg-ico {
    background: url(../img/index_new_icos.png) -36px -103px
}

.ehaier-inf .notice-inf {
    padding: 0 10px 10px
}

.ehaier-inf .notice-hd {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px #eaeaea solid
}

.ehaier-inf .notice-hd .tit {
    float: left;
    border-bottom: 1px #2979ff solid;
    color: #333
}

.ehaier-inf .notice-hd .link-more {
    float: right
}

.ehaier-inf .notice-bd {
    padding-top: 8px
}

.ehaier-inf .notice-bd li {
    height: 22px;
    line-height: 22px;
    overflow: hidden
}

.ehaier-inf .notice-bd a {
    width: 100%
}

.ehaier-inf .notice-bd a,
.ehaier-inf .user-hd,
.ellipsis,
.topic-saying-mod .mod-bd .link-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.ehaier-inf .service-inf li {
    float: left;
    height: 40px;
    line-height: 40px;
    border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    width: 50%;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center
}

.ehaier-inf .service-inf li .ico {
    width: 25px;
    height: 25px;
    margin-right: 3px
}

.ehaier-inf .service-inf .ser_1 .ico {
    background-position: 0 -131px
}

.ehaier-inf .service-inf .ser_2 .ico {
    background-position: -36px -131px
}

.ehaier-inf .service-inf .ser_3 .ico {
    background-position: 0 -164px
}

.ehaier-inf .service-inf .ser_4 .ico {
    background-position: -36px -164px
}


/* banner图下面分会场选择部分 */

.saleHot-mod {
    margin-bottom: 30px
}

.saleHot-mod ul {
    margin-left: -10px
}

.saleHot-mod li {
    width: 290px;
    height: 150px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-left: 10px
}

.saleHot-mod li img {
    width: 300px;
    height: 150px
}


/* 第一部分精品推荐 */

.jptj-mod {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.jptj-mod,
.channals-mod,
.optimal-album-mod {
    margin-bottom: 30px
}

.mod-hd {
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 0 18px
}

.mod-hd .tit {
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.mod-hd .tit-ico {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

.jptj-mod .mod-hd {
    background-color: #2979ff
}

.jptj-mod .mod-hd .jptj-ico {
    background-position: -37px -231px
}

.jptj-mod .mod-bd {
    padding: 10px;
    background-color: #fff;
    /* overflow: hidden导致左边却一部分，等图片加载完成在修改 */
}

.jptj-mod .ver-jp-banner {
    float: left;
    width: 220px;
    overflow: hidden
}

.jptj-mod .ver-jp-banner img {
    width: 230px;
    height: 400px
}

.jptj-mod .ver-jp-banner:hover img,
.jptj-mod .jp-item:hover img {
    transform: translateX(-3px);
    transition: all 0.3s
}

.jptj-mod .jp-list {
    float: right;
    overflow: hidden;
    width: 930px;
    position: relative;
    z-index: 5
}

.jptj-mod .jp-item {
    float: left;
    width: 270px;
    padding: 20px;
    height: 160px;
    position: relative;
    background-color: #fff
}

.jptj-mod .jp-item img {
    width: 135px;
    height: 135px;
}

.jptj-mod .tags {
    position: absolute;
    padding: 2px 5px;
    color: #fff;
    right: 10px;
    top: 10px
}

.jptj-mod .jp-img {
    float: left;
    margin: 20px 20px 0 0;
    width: 135px;
    height: 135px
}

.jptj-mod .dis-txt {
    width: 112px;
    height: 36px;
    float: left;
    margin-top: 50px;
    margin-bottom: 12px
}

.jptj-mod .fh_1 {
    left: 309px
}

.jptj-mod .fh_2 {
    left: 618px
}

.jptj-mod .fake-border-v {
    top: 200px;
    width: 920px
}


/* 第二部分新品首发 */

.channals-mod .layout-grid {
    overflow: hidden
}

.channals-mod .chn-wrap {
    margin-left: -10px
}

.channals-mod .mod-bd {
    padding: 0 10px 10px;
    background-color: #fff;
    height: 502px;
    overflow: hidden
}

.channals-mod .chn-col {
    float: left;
    width: 390px;
    margin-left: 10px
}

.channals-mod h4 {
    margin-right: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: rgba(255, 255, 255, .8);
    margin-bottom: 10px
}

.channals-mod .dis-txt {
    margin-right: 100px;
    color: #999;
    padding: 0 15px 0 8px;
    position: relative;
    z-index: 100
}

.channals-mod .ver-border {
    width: 2px;
    height: 14px;
    margin-right: 4px;
    background-color: #2979ff;
    vertical-align: middle
}

.channals-mod .link-block-wrap {
    overflow: hidden;
    position: relative;
    height: 252px
}

.channals-mod .link-block-wrap .fake-border-v {
    top: 126px
}

.channals-mod .link-block-wrap a {
    display: block;
    padding: 18px 0;
    position: relative
}

.channals-mod .link-block-wrap a:hover .ver-border {
    color: #000
}

.channals-mod .link-block-wrap a:hover .dis-txt {
    color: #2979ff
}

.channals-mod .link-block-wrap img {
    float: right;
    width: 90px;
    height: 90px
}

.channals-mod .new-first .mod-hd {
    background-color: #7aa58f
}

.channals-mod .custom-made .mod-hd {
    background-color: #9aa76f
}

.channals-mod .hlp-chos .mod-hd {
    background-color: #c8af64
}

.channals-mod .chn-bot-cover {
    margin-top: 10px;
    width: 105%
}

.channals-mod .chn-cover-col {
    float: left;
    width: 180px;
    margin-right: 10px
}

.channals-mod .chn-cover-col img {
    width: 190px;
    height: 240px
}

.channals-mod .chn-cover-col1 {
    margin-right: 10px
}

.channals-mod .link-block2 .dis-txt {
    height: 56px;
    -webkit-line-clamp: 3;
    width: 210px
}

.channals-mod .link-block2 img {
    width: 135px;
    height: 150px;
    margin-top: -21px
}

.channals-mod .link-block2 .link-btn {
    position: absolute;
    border: 1px solid #9aa76f;
    height: 24px;
    line-height: 24px;
    color: #9aa76f;
    padding: 0 10px;
    border-radius: 2px;
    top: 129px;
    left: 10px
}

.channals-mod .link-block2 a:hover .link-btn {
    border-color: #2979ff;
    color: #2979ff
}

.channals-mod .link-block3 {
    padding-top: 10px;
    height: auto
}

.channals-mod .link-block3 a {
    float: left;
    width: 50%;
    height: 210px
}

.channals-mod .link-block3 .dis-txt {
    padding: 0;
    margin: 0 15px
}

.channals-mod .link-block3 h4 {
    margin-right: 0;
    padding-left: 15px
}

.channals-mod .link-block3 img {
    float: none;
    position: absolute;
    width: 160px;
    height: 120px;
    margin-left: -80px;
    left: 50%;
    bottom: 15px
}

.channals-mod .link-block3 .fake-border-v {
    top: 256px
}

.channals-mod .link-block3 .fake-border-h {
    top: 10px;
    left: 185px
}


/*第三部分优品专辑  */

.optimal-album-mod .mod-hd {
    padding: 0;
    border-radius: 0;
    position: relative;
    height: 46px;
    line-height: 46px;
    background-color: #fff
}

.optimal-album-mod .mod-hd .tit {
    position: absolute;
    height: 56px;
    top: -10px;
    line-height: 56px;
    background-color: #2979ff;
    border-radius: 10px 10px 0 0;
    padding: 0 18px
}

.optimal-album-mod .mod-hd .optimal-ico {
    background-position: 0 -270px
}

.optimal-album-mod .mod-hd .album-tab {
    margin-left: 156px;
    overflow: hidden
}

.optimal-album-mod .mod-hd .tab-item {
    float: left;
    position: relative;
    border-bottom: 2px #eaeaea solid;
    margin-left: -1px
}

.optimal-album-mod .mod-hd .active {
    border-color: #2979ff
}

.optimal-album-mod .mod-hd .active .alb-tit {
    color: #2979ff
}

.optimal-album-mod .mod-hd .album-ico {
    width: 25px;
    height: 40px;
    overflow: hidden
}

.optimal-album-mod .mod-hd .alb-tit {
    font-weight: 400;
    font-size: 14px;
    color: #999
}

.optimal-album-mod .mod-hd .links-ver {
    position: absolute;
    top: 12px;
    left: 0;
    height: 23px;
    background-color: #e0e0e0;
    margin: 0;
    vertical-align: middle
}

.optimal-album-mod .mod-hd .cl-ico-1 {
    background-position: 0 -356px
}

.optimal-album-mod .mod-hd .cl-ico-2 {
    background-position: -25px -356px
}

.optimal-album-mod .mod-hd .cl-ico-3 {
    background-position: -50px -356px
}

.optimal-album-mod .mod-hd .cl-ico-4 {
    background-position: -75px -356px
}

.optimal-album-mod .mod-hd .cl-ico-5 {
    background-position: -100px -356px
}

.optimal-album-mod .mod-hd .cl-ico-6 {
    background-position: -125px -356px
}

.optimal-album-mod .mod-hd .cl-ico-7 {
    background-position: -150px -356px
}

.optimal-album-mod .mod-hd .cl-ico-8 {
    background-position: -175px -356px
}

.optimal-album-mod .mod-hd .a-album {
    float: left;
    width: 128px;
    text-align: center
}

.optimal-album-mod .mod-hd .a-album:hover .alb-tit {
    color: #2979ff
}

.optimal-album-mod .mod-bd {
    background-color: #fff;
    padding: 10px
}

.optimal-album-mod .mod-bd .album-cover {
    float: left;
    width: 220px
}

.optimal-album-mod .mod-bd .album-cover img {
    width: 230px;
    height: 332px
}

.optimal-album-mod .mod-bd .album-cover:hover img {
    transform: translateX(-3px);
    transition: all 0.3s
}

.optimal-album-mod .mod-bd .optimal-list {
    position: relative;
    float: right;
    width: 940px;
    overflow: hidden
}

.optimal-album-mod .mod-bd .optimal-item {
    float: left;
    width: 235px;
    height: 166px;
    position: relative
}

.optimal-album-mod .mod-bd .optimal-item img {
    position: absolute;
    z-index: 5;
    width: 110px;
    height: 110px;
    right: 10px;
    bottom: 10px
}

.optimal-album-mod .mod-bd .optimal-item:hover img {
    transform: translateX(-3px);
    transition: all 0.3s
}

.optimal-album-mod .mod-bd .optimal-item .dis-txt {
    position: absolute;
    z-index: 10;
    width: 112px;
    top: 25px;
    left: 30px
}

.optimal-album-mod .mod-bd .optimal-item .mod-price {
    position: absolute;
    z-index: 10;
    top: 65px;
    left: 30px
}

.optimal-album-mod .mod-bd .optimal-item .hot-tag {
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    width: 34px;
    height: 30px;
    top: 10px;
    right: 10px;
    z-index: 6
}

.optimal-album-mod .mod-bd .optimal-item .tag-red {
    background-position: -75px -44px
}

.optimal-album-mod .mod-bd .optimal-item .tag-blue {
    background-position: -63px -508px
}

.optimal-album-mod .mod-bd .fake-border-h {
    top: 15px;
    height: 308px
}

.optimal-album-mod .mod-bd .fh_1 {
    left: 235px
}

.optimal-album-mod .mod-bd .fh_2 {
    left: 470px
}

.optimal-album-mod .mod-bd .fh_3 {
    left: 705px
}

.optimal-album-mod .mod-bd .fake-border-v {
    top: 166px
}


/* 第四部分大家都在说 */

.topic-saying-mod {
    margin-bottom: 20px
}

.topic-saying-mod .mod-hd {
    background-color: #2979ff
}

.topic-saying-mod .mod-hd .tps-ico {
    background-position: -41px -271px
}

.topic-saying-mod .mod-bd {
    padding: 10px 0 0
}

.topic-saying-mod .mod-bd .topic-wrap {
    position: relative
}

.topic-saying-mod .mod-bd .topic-list {
    padding-bottom: 10px;
    position: absolute;
}

.topic-saying-mod .mod-bd .sc-slider {
    overflow: hidden;
    width: 1190px;
    height: 374px
}

.topic-saying-mod .mod-bd .scroll-btn {
    top: 120px;
    width: 22px;
    height: 50px;
    position: absolute;
    z-index: 100;
    cursor: pointer
}

.topic-saying-mod .topic-list .tps-img img {
    width: 290px;
    height: 250px;
}

.backBtn,
.j_eventBg {
    position: absolute;
    top: 0
}

.topic-saying-mod .mod-bd .sc-prev {
    left: 0;
    background-position: -42px -304px
}

.topic-saying-mod .mod-bd .sc-next {
    right: 0;
    background-position: -65px -304px
}

.topic-saying-mod .mod-bd .topic-s-item {
    margin-right: 10px;
    float: left;
    width: 290px;
    background-color: #fff;
    padding-bottom: 10px;
    overflow: hidden
}

.topic-saying-mod .mod-bd .topic-s-item:hover {
    box-shadow: 0px 0px 8px #7b7b7c
}

.topic-saying-mod .mod-bd .topic-s-item:hover img {
    transform: scale(1.05);
    transition: all 0.3s
}

.topic-saying-mod .mod-bd .tps-img {
    width: 290px;
    height: 250px
}

.topic-saying-mod .mod-bd .tps-link {
    display: block;
    margin: 10px 0;
    padding: 0 10px
}

.topic-saying-mod .mod-bd .tps-link .dis-txt {
    color: #333;
    margin: 10px 0;
    height: 40px;
}

.topic-saying-mod .mod-bd .tps-link:hover .dis-txt,
.topic-saying-mod .mod-bd .tps-link:hover .link-txt {
    color: #2979ff
}

.topic-saying-mod .mod-bd .link-wrap {
    height: 24px;
    line-height: 24px;
    overflow: hidden
}

.topic-saying-mod .mod-bd .link-txt {
    float: left;
    width: 60%;
    overflow: hidden;
    color: #999
}

.topic-saying-mod .mod-bd .mod-price {
    float: right;
    font-size: 12px
}

.topic-saying-mod .mod-bd .align-right {
    padding: 0 10px;
    line-height: 24px;
    text-align: right;
}


/* 第五部分为你推荐 */

.recommend-mod {
    margin-bottom: 20px
}

.recommend-mod .mod-hd {
    background-color: #2979ff
}

.recommend-mod .mod-hd .recom-ico {
    background-position: 0 -313px
}

.recommend-mod .mod-bd {
    padding: 10px 0;
    overflow: hidden
}

.recommend-mod .mod-bd .product-dis {
    margin: -10px 0 0 -10px;
    width: 1200px;
}

.recommend-mod .mod-bd .product-dis li {
    margin: 10px 0 0 10px;
    width: 230px;
    padding-bottom: 10px
}

.recommend-mod .mod-bd .product-dis .dis-link,
.recommend-mod .mod-bd .product-dis .dis-price {
    padding: 10px
}

.product-dis li {
    float: left;
    margin-left: 10px;
    position: relative;
    background-color: #fff
}

.recommend-mod .mod-bd .product-dis li:hover {
    box-shadow: 0px 0px 8px #7b7b7c
}

.recommend-mod .mod-bd .product-dis li:hover img {
    transform: translateY(-3px);
    transition: all 0.3s
}

.product-dis .dis-link {
    display: block
}

.product-dis .dis-link img {
    display: block;
    margin: 17px auto;
    width: 160px;
    height: 160px;
}

.recommend-mod .product-dis .dis-txt {
    padding: 0 10px;
}


/* footer部分 */

.footer-mod {
    margin-bottom: 20px;
    background-color: #fff
}

.footer-mod .ul-all-promise {
    width: 100%;
    padding: 35px 0 25px;
    border-bottom: 1px #eaeaea solid
}

.footer-mod .promise-item {
    width: 25%;
    position: relative;
    float: left
}

.footer-mod .promise-item a {
    display: block;
    padding-left: 25px
}

.footer-mod .promise-item a p {
    color: #999
}

.footer-mod .promise-item .ico {
    background-position-y: -444px;
    width: 43px;
    height: 43px;
    float: left;
    margin-right: 5px
}

.footer-mod .promise-item .btm-survico {
    margin-bottom: 3px;
    color: #333;
    font-weight: 400
}

.footer-mod .promise-item .links-ver {
    position: absolute;
    right: 0;
    height: 33px;
    vertical-align: middle;
    margin: 0;
    top: 3px;
    background-color: #eaeaea
}

.footer-mod .li-promise-2 .ico {
    background-position-x: -50px
}

.footer-mod .li-promise-3 .ico {
    background-position-x: -97px
}

.footer-mod .li-promise-4 .ico {
    background-position-x: -144px
}

.footer-mod .service-wrap {
    padding: 20px 0 40px
}

.footer-mod .service-help {
    float: left;
    width: 73%;
    position: relative;
    padding-left: 2%
}

.footer-mod .service-help .links-ver {
    position: absolute;
    background-color: #eaeaea;
    height: 170px;
    right: 0;
    top: 7px;
    margin: 0
}

.footer-mod .help-item {
    float: left;
    width: 20%
}

.footer-mod .help-item dt {
    color: #333;
    margin-bottom: 18px
}

.footer-mod .help-item dd {
    line-height: 22px
}

.footer-mod .help-item dd a {
    color: #999
}

.footer-mod .help-item dd a:hover {
    color: #2979ff
}

.footer-mod .about-inf {
    float: left;
    width: 24%;
    padding: 5px 0 0
}

.footer-mod .about-inf .ft-btn {
    display: block;
    width: 128px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 15px 20px;
    border: 1px solid #eaeaea;
    position: relative
}

.footer-mod .about-inf .ft-btn .ico {
    width: 22px;
    height: 22px;
    margin-left: 20px;
    margin-right: 6px
}

.footer-mod .about-inf .ft-btn .img-wechat {
    position: absolute;
    z-index: 100;
    top: 29px;
    left: 0;
    display: none
}

.footer-mod .about-inf .wx-btn .ico {
    background-position: -101px -201px
}

.footer-mod .about-inf .wx-btn:hover .img-wechat {
    display: block
}

.footer-mod .about-inf .kf-btn .ico {
    background-position: -72px -201px
}

.bottom-qr {
    padding: 0 0 0 10px;
}

.bottom-qr span {
    float: left;
    margin-left: 5px;
    text-align: center;
    color: #333;
}


/* 版权信息声明 */

.copyright-mod {
    padding-bottom: 15px
}

.copyright-mod .a-links {
    margin-bottom: 10px;
    text-align: center
}

.copyright-mod .a-links .links-ver {
    background-color: #c7c7c7;
    margin: 0 6px
}

.copyright-mod p {
    margin: 6px 0;
    text-align: center;
    color: #999
}

.copyright-mod .p-all-honor {
    margin-top: 36px
}

.copyright-mod .p-all-honor a {
    margin: 0 6px
}


/* 楼梯效果 */

#sidenav {
    width: 35px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    display: none;
    border: 1px solid #ddd;
    z-index: 999999
}

#sidenav ul li {
    width: 35px;
    height: 32px;
    border-bottom: 1px dotted #DDDDDD;
    font-size: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: rgb(161, 158, 158);
    color: #fff;
}

#sidenav ul .active {
    background: #2979ff
}

#sidenav ul .return,
#sidenav ul .return:hover {
    background: #4d4c4c
}

#sidenav ul li:hover {
    background: #2979ff;
    color: #fff;
}