.btn-small,
.btn-small:hover {
    color: #fff
}

.btn-small,
.channals-mod .ver-border,
.ehaier-inf .grid-ud a i,
.ehaier-inf .notice-bd a,
.ehaier-inf .service-inf li .ico,
.icon_v2,
.inlineBlock,
.links-ver,
.mod-hd .tit-ico,
.optimal-album-mod .mod-bd .optimal-item .hot-tag,
.optimal-album-mod .mod-hd .alb-tit,
.optimal-album-mod .mod-hd .album-ico,
.p-slide-thumb .s-thumb,
.s-thumb-next,
.s-thumb-prev,
.slider-banner-mod .slider-control,
.topic-saying-mod .mod-bd .scroll-btn,
.xsqg-mod .mod-hd .J_fstimer span,
.xsqg-mod .product-dis li .hot-tag {
    display: inline-block
}

.margin-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.btn-large {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 3px
}

.btn-small {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 11px;
    background-color: #2979ff
}

.align-right {
    text-align: right
}

.mark-link {
    color: #2979ff;
    text-decoration: underline
}

.bread,
.grid-wrap {
    width: 1190px;
    margin: 10px auto
}

.bread .bread-sep,
.bread a {
    margin-right: 7px;
    font-size: 14px
}

.bread a {
    color: #333
}

.bread a:hover {
    color: #2979ff
}

.fd-left,
.layout-grid-left {
    float: left
}

.fd-right,
.layout-grid-right {
    float: right
}

.mark-red {
    color: #ff4949
}

.mark-blue {
    color: #2979ff
}

.mark-gray {
    color: #999
}

a,
body {
    color: #666
}

.ehaier-inf .notice-bd a,
.ehaier-inf .user-hd,
.ellipsis,
.topic-saying-mod .mod-bd .link-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dis-txt,
.jptj-mod .dis-txt,
.multi-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.ehaier-inf .grid-ud a i,
.ehaier-inf .service-inf li .ico,
.icon_v2,
.mod-hd .tit-ico,
.optimal-album-mod .mod-bd .optimal-item .hot-tag,
.optimal-album-mod .mod-hd .album-ico,
.s-thumb-next,
.s-thumb-prev,
.slider-banner-mod .slider-control,
.topic-saying-mod .mod-bd .scroll-btn,
.xsqg-mod .product-dis li .hot-tag {
    background-image: url(http://cdn09.ehaier.com/sg2019/v5/images/index_new_icos.png);
    background-repeat: no-repeat;
    vertical-align: middle
}

.links-ver {
    overflow: hidden;
    margin: 12px 10px 0;
    width: 1px;
    height: 10px;
    background-color: #999
}

.channals-mod,
.jptj-mod,
.marginBottom_30,
.optimal-album-mod,
.slider-banner-mod,
.xsqg-mod {
    margin-bottom: 30px
}

.recommend-mod .mod-bd .product-dis li,
.shadow-transition,
.topic-saying-mod .mod-bd .topic-s-item {
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s
}

.recommend-mod .mod-bd .product-dis li:hover,
.shadow,
.topic-saying-mod .mod-bd .topic-s-item:hover {
    box-shadow: 0 0 6px #aaa
}

.dis-txt {
    height: 36px
}

.red-tag {
    background-color: #f40
}

.yellow-tag {
    background-color: #f90
}

.fake-border-h,
.fake-border-v {
    position: absolute;
    overflow: hidden;
    background-color: #eaeaea;
    z-index: 10
}

.fake-border-h {
    width: 1px;
    height: 100%
}

.fake-border-v {
    height: 1px;
    width: 100%
}

* {
    margin: 0;
    padding: 0
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    border: 0;
    background: 0 0;
    cursor: pointer
}

a {
    text-decoration: none
}

a:hover {
    color: #2979ff
}

button,
input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    background-color: #f2f2f2
}

.hide,
.none {
    display: none
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: " ";
    font-size: 0
}

.mod-price {
    font-size: 14px;
    color: #ff4949
}

.mod-price i {
    font-family: arial;
    font-weight: 400;
    font-size: 12px
}

.page_max {
    min-width: 1190px
}

.page_min {
    min-width: 990px
}

.layout-grid {
    margin: 0 auto;
    width: 1190px
}

.page_min .layout-grid {
    width: 990px
}

.mod_ver {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0
}

.mod_lazyload {
    background-image: url(http://cdn09.ehaier.com/sg2019/v5/images/search/imgbg.png)
}

.loading,
.mod_lazyload,
.mod_loading {
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.box_hd {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff
}

.box_hd_col1 {
    float: left
}

.box_hd_col2 {
    float: right
}

.box_hd_dec {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px
}

.box_hd_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent
}

.banner-slidewrap,
.main-banner {
    position: relative
}

.ehaier-inf .grid-ud,
.ehaier-inf .service-inf .service-list {
    border-top: 1px #eaeaea solid;
    overflow: hidden
}

.main-banner {
    overflow: hidden;
    width: 100%;
    height: 430px
}

.banner-slidewrap,
.slide-each {
    left: 0;
    width: 100%;
    height: 430px
}

.slide-each {
    position: absolute;
    top: 0;
    overflow: hidden
}

.slide-each-2 {
    left: 100%
}

.slide-each-3 {
    left: 200%
}

.slide-each-4 {
    left: 300%
}

.slide-each-5 {
    left: 400%
}

.slide-each-6 {
    left: 500%
}

.slide-each-7 {
    left: 600%
}

.slide-each-8 {
    left: 700%
}

.slide-each-9 {
    left: 800%
}

.slide-each-10 {
    left: 900%
}

.p-slide-thumb,
.slide-each .child,
.slide-each .child0 {
    position: absolute;
    left: 50%
}

.slide-each .child0 {
    top: 0;
    margin: 0 0 0 -476px;
    width: 952px
}

.slide-each .child {
    top: 0;
    margin: 0 0 0 750pt;
    width: 750pt
}

.slide-each-1 .child {
    margin: 0 0 0 -500px
}

.p-slide-thumb {
    margin: 10px auto 0;
    height: 15px;
    text-align: center;
    bottom: 10px;
    padding: 1px 15px 2px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .5)
}

.p-slide-btn {
    position: relative;
    margin: 0 auto;
    height: 5px
}

.main-banner-over .p-slide-btn {
    visibility: visible
}

.main-banner .wrapper {
    width: 952px!important
}

.p-slide-thumb .s-thumb {
    overflow: hidden;
    margin: 1px 5px 0;
    width: 12px;
    height: 12px;
    background: #b6b6b6;
    border-radius: 50%;
    cursor: pointer
}

.p-slide-thumb .s-thumb-now {
    background: #ff4949
}

.s-thumb-next,
.s-thumb-prev {
    position: absolute;
    top: -250px;
    width: 20px;
    height: 60px;
    opacity: .85;
    filter: alpha(opacity=85);
    cursor: pointer
}

.s-thumb-prev {
    left: 210px;
    background-position: -125px -31px
}

.s-thumb-next {
    right: 20px;
    background-position: -158px -31px
}

.s-thumb-next:hover,
.s-thumb-prev:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.pb-main {
    margin-bottom: 30px;
    position: relative
}

.pb-main .layout-grid {
    position: relative;
    z-index: 10;
    background-color: #f2f2f2
}

.pb-main .banner-wrap {
    width: 952px
}

.ehaier-inf {
    width: 230px;
    margin-top: 1px;
    background-color: #fff
}

.ehaier-inf .member-inf {
    padding: 10px;
    text-align: center
}

.ehaier-inf .user-img {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    overflow: hidden
}

.ehaier-inf .user-hd,
.ehaier-inf .user-rank {
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px 0;
    color: #999;
    overflow: hidden
}

.ehaier-inf .user-hd {
    width: 190px
}

.ehaier-inf .user-rank {
    line-height: 30px;
    height: 30px
}

.ehaier-inf .user-rank img {
    margin-right: 5px
}

.ehaier-inf .sign-wrap {
    text-align: center;
    padding: 9px 0 0
}

.ehaier-inf .sign-wrap a {
    margin: 0 5px
}

.ehaier-inf .grid-ud {
    border-bottom: 1px #eaeaea solid;
    height: 61px
}

.ehaier-inf .grid-ud a {
    width: 50%;
    padding: 8px 0;
    text-align: center;
    margin-left: -1px;
    border-left: 1px #eaeaea solid;
    color: #666
}

.ehaier-inf .grid-ud a i {
    width: 28px;
    height: 22px;
    margin-bottom: 5px
}

.ehaier-inf .grid-ud a .sclub-ico {
    background-position: 0 -40px
}

.ehaier-inf .grid-ud a .ssg-ico {
    background-position: 0 -73px
}

.ehaier-inf .grid-ud a .nosg-ico {
    background-position: 0 -103px
}

.ehaier-inf .grid-ud a:hover {
    color: #2979ff
}

.ehaier-inf .grid-ud a:hover .sclub-ico {
    background-position: -36px -40px
}

.ehaier-inf .grid-ud a:hover .ssg-ico {
    background-position: -36px -73px
}

.ehaier-inf .grid-ud a:hover .nosg-ico {
    background-position: -36px -103px
}

.ehaier-inf .notice-inf {
    padding: 0 10px 10px
}

.ehaier-inf .notice-hd {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px #eaeaea solid
}

.ehaier-inf .notice-hd .tit {
    float: left;
    border-bottom: 1px #2979ff solid;
    color: #333
}

.ehaier-inf .notice-hd .link-more {
    float: right
}

.ehaier-inf .notice-bd {
    padding-top: 8px
}

.ehaier-inf .notice-bd li {
    height: 22px;
    line-height: 22px;
    overflow: hidden
}

.ehaier-inf .notice-bd a {
    width: 100%
}

.ehaier-inf .service-inf li {
    float: left;
    height: 40px;
    line-height: 40px;
    border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    width: 50%;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center
}

.ehaier-inf .service-inf li .ico {
    width: 25px;
    height: 25px;
    margin-right: 3px
}

.ehaier-inf .service-inf .ser_1 .ico {
    background-position: 0 -131px
}

.ehaier-inf .service-inf .ser_2 .ico {
    background-position: -36px -131px
}

.ehaier-inf .service-inf .ser_3 .ico {
    background-position: 0 -164px
}

.ehaier-inf .service-inf .ser_4 .ico {
    background-position: -36px -164px
}

.entry-anim {
    overflow: hidden
}

.entry-anim img {
    display: block;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: transform .2s, -moz-transform .2s;
    transition: transform .2s
}

.entry-anim:hover img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px)
}

.rg-anim img {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: transform .5s, -moz-transform .5s;
    transition: transform .5s
}

.rg-anim:hover img {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px)
}

.lf-anim img {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: transform .5s, -moz-transform .5s;
    transition: transform .5s
}

.lf-anim:hover img {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px)
}

.product-dis li {
    float: left;
    margin-left: 10px;
    position: relative;
    background-color: #fff
}

.product-dis .dis-link {
    display: block
}

.product-dis .dis-link img {
    display: block;
    margin: 17px auto
}

.ud-anim img {
    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: transform .4s ease, -moz-transform .4s ease;
    transition: transform .4s ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.ud-anim:hover img {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

.mod-hd {
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 0 18px
}

.mod-hd .tit {
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400
}

.mod-hd .tit-ico {
    width: 32px;
    height: 32px;
    margin-right: 6px
}

.saleHot-mod {
    margin-bottom: 30px
}

.saleHot-mod ul {
    margin-left: -10px
}

.saleHot-mod li {
    width: 290px;
    height: 150px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-left: 10px
}

.saleHot-mod li img {
    width: 300px;
    height: 150px
}

.xsqg-mod .mod-hd {
    background-color: #f40
}

.xsqg-mod .mod-hd .xsqg-ico {
    background-position: 0 -230px
}

.xsqg-mod .mod-hd .countDown {
    float: right;
    color: #fff
}

.xsqg-mod .mod-hd .countDown span {
    float: left
}

.xsqg-mod .mod-hd .J_fstimer {
    float: right;
    font-size: 24px
}

.xsqg-mod .mod-hd .J_fstimer span {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #000;
    vertical-align: middle;
    font-weight: 600;
    margin: 0 5px;
    overflow: hidden;
    float: none
}

.xsqg-mod .mod-bd {
    background-color: #f40;
    padding: 0 0 10px
}

.xsqg-mod .product-dis li {
    width: 285px;
    padding-bottom: 24px
}

.xsqg-mod .product-dis li .hot-tag {
    position: absolute;
    width: 50px;
    height: 55px;
    left: 10px;
    top: 10px;
    text-align: center;
    font-size: 14px;
    z-index: 10;
    color: #fff;
    padding-top: 5px
}

.xsqg-mod .product-dis li .tag-red {
    background-position: -75px -113px
}

.xsqg-mod .product-dis li .tag-blue {
    background-position: 0 -508px
}

.xsqg-mod .product-dis li img {
    width: 180px;
    height: 180px
}

.xsqg-mod .product-dis li .dis-txt {
    margin: 0 30px
}

.xsqg-mod .dis-price {
    margin: 5px 30px 0;
    font-size: 14px
}

.xsqg-mod .dis-price i {
    vertical-align: text-bottom
}

.jptj-mod .mod-hd {
    background-color: #2979ff
}

.jptj-mod .mod-hd .jptj-ico {
    background-position: -37px -231px
}

.jptj-mod .mod-bd {
    padding: 10px;
    background-color: #fff;
    overflow: hidden
}

.jptj-mod .ver-jp-banner {
    float: left;
    width: 220px;
    overflow: hidden
}

.jptj-mod .ver-jp-banner img {
    width: 230px;
    height: 400px
}

.jptj-mod .jp-list {
    float: right;
    overflow: hidden;
    width: 930px;
    position: relative;
    z-index: 5
}

.jptj-mod .jp-item {
    float: left;
    width: 270px;
    padding: 20px;
    height: 160px;
    position: relative;
    background-color: #fff
}

.jptj-mod .tags {
    position: absolute;
    padding: 2px 5px;
    color: #fff;
    right: 10px;
    top: 10px
}

.jptj-mod .jp-img {
    float: left;
    margin: 20px 20px 0 0;
    width: 135px;
    height: 135px
}

.jptj-mod .dis-txt {
    width: 112px;
    height: 36px;
    float: left;
    margin-top: 50px;
    margin-bottom: 12px
}

.jptj-mod .fh_1 {
    left: 309px
}

.jptj-mod .fh_2 {
    left: 618px
}

.jptj-mod .fake-border-v {
    top: 200px;
    width: 920px
}

.channals-mod .layout-grid {
    overflow: hidden
}

.channals-mod .chn-wrap {
    margin-left: -10px
}

.channals-mod .mod-bd {
    padding: 0 10px 10px;
    background-color: #fff;
    height: 502px;
    overflow: hidden
}

.channals-mod .chn-col {
    float: left;
    width: 390px;
    margin-left: 10px
}

.channals-mod h4 {
    margin-right: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: rgba(255, 255, 255, .8);
    margin-bottom: 10px
}

.optimal-album-mod .mod-hd .a-album:hover .album-ico,
.optimal-album-mod .mod-hd .active .album-ico {
    background-position-y: -402px
}

.channals-mod .dis-txt {
    margin-right: 100px;
    color: #999;
    padding: 0 15px 0 8px;
    position: relative;
    z-index: 100
}

.channals-mod .ver-border {
    width: 2px;
    height: 14px;
    margin-right: 4px;
    background-color: #2979ff;
    vertical-align: middle
}

.channals-mod .link-block-wrap {
    overflow: hidden;
    position: relative;
    height: 252px
}

.channals-mod .link-block-wrap .fake-border-v {
    top: 126px
}

.channals-mod .link-block-wrap a {
    display: block;
    padding: 18px 0;
    position: relative
}

.channals-mod .link-block-wrap a:hover .ver-border {
    color: #000
}

.channals-mod .link-block-wrap a:hover .dis-txt {
    color: #2979ff
}

.channals-mod .link-block-wrap img {
    float: right;
    width: 90px;
    height: 90px
}

.channals-mod .new-first .mod-hd {
    background-color: #7aa58f
}

.channals-mod .custom-made .mod-hd {
    background-color: #9aa76f
}

.channals-mod .hlp-chos .mod-hd {
    background-color: #c8af64
}

.channals-mod .chn-bot-cover {
    margin-top: 10px;
    width: 105%
}

.channals-mod .chn-cover-col {
    float: left;
    width: 180px;
    margin-right: 10px
}

.channals-mod .chn-cover-col img {
    width: 190px;
    height: 240px
}

.channals-mod .chn-cover-col1 {
    margin-right: 10px
}

.channals-mod .link-block2 .dis-txt {
    height: 56px;
    -webkit-line-clamp: 3;
    width: 210px
}

.channals-mod .link-block2 img {
    width: 135px;
    height: 150px;
    margin-top: -21px
}

.channals-mod .link-block2 .link-btn {
    position: absolute;
    border: 1px solid #9aa76f;
    height: 24px;
    line-height: 24px;
    color: #9aa76f;
    padding: 0 10px;
    border-radius: 2px;
    top: 129px;
    left: 10px
}

.channals-mod .link-block2 a:hover .link-btn {
    border-color: #2979ff;
    color: #2979ff
}

.channals-mod .link-block3 {
    padding-top: 10px;
    height: auto
}

.channals-mod .link-block3 a {
    float: left;
    width: 50%;
    height: 210px
}

.channals-mod .link-block3 .dis-txt {
    padding: 0;
    margin: 0 15px
}

.channals-mod .link-block3 h4 {
    margin-right: 0;
    padding-left: 15px
}

.channals-mod .link-block3 img {
    float: none;
    position: absolute;
    width: 160px;
    height: 120px;
    margin-left: -80px;
    left: 50%;
    bottom: 15px
}

.channals-mod .link-block3 .fake-border-v {
    top: 256px
}

.channals-mod .link-block3 .fake-border-h {
    top: 10px;
    left: 185px
}

.slider-banner-mod .changeBox {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative
}

.slider-banner-mod .box-img {
    position: absolute;
    top: 0;
    left: 0
}

.slider-banner-mod .slider-control {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    width: 15px;
    height: 28px
}

.slider-banner-mod .J_sliderPrev {
    left: 15px;
    background-position: -131px -110px
}

.slider-banner-mod .J_sliderNext {
    right: 15px;
    background-position: -147px -110px
}

.optimal-album-mod .mod-hd {
    padding: 0;
    border-radius: 0;
    position: relative;
    height: 46px;
    line-height: 46px;
    background-color: #fff
}

.optimal-album-mod .mod-hd .tit {
    position: absolute;
    height: 56px;
    top: -10px;
    line-height: 56px;
    background-color: #2979ff;
    border-radius: 10px 10px 0 0;
    padding: 0 18px
}

.optimal-album-mod .mod-hd .optimal-ico {
    background-position: 0 -270px
}

.optimal-album-mod .mod-hd .album-tab {
    margin-left: 156px;
    overflow: hidden
}

.optimal-album-mod .mod-hd .tab-item {
    float: left;
    position: relative;
    border-bottom: 2px #eaeaea solid;
    margin-left: -1px
}

.optimal-album-mod .mod-hd .active {
    border-color: #2979ff
}

.optimal-album-mod .mod-hd .active .alb-tit {
    color: #2979ff
}

.optimal-album-mod .mod-hd .album-ico {
    width: 25px;
    height: 40px;
    overflow: hidden
}

.optimal-album-mod .mod-hd .alb-tit {
    font-weight: 400;
    font-size: 14px;
    color: #999
}

.optimal-album-mod .mod-hd .links-ver {
    position: absolute;
    top: 12px;
    left: 0;
    height: 23px;
    background-color: #e0e0e0;
    margin: 0;
    vertical-align: middle
}

.optimal-album-mod .mod-hd .cl-ico-1 {
    background-position: 0 -356px
}

.optimal-album-mod .mod-hd .cl-ico-2 {
    background-position: -25px -356px
}

.optimal-album-mod .mod-hd .cl-ico-3 {
    background-position: -50px -356px
}

.optimal-album-mod .mod-hd .cl-ico-4 {
    background-position: -75px -356px
}

.optimal-album-mod .mod-hd .cl-ico-5 {
    background-position: -100px -356px
}

.optimal-album-mod .mod-hd .cl-ico-6 {
    background-position: -125px -356px
}

.optimal-album-mod .mod-hd .cl-ico-7 {
    background-position: -150px -356px
}

.optimal-album-mod .mod-hd .cl-ico-8 {
    background-position: -175px -356px
}

.optimal-album-mod .mod-hd .a-album {
    float: left;
    width: 128px;
    text-align: center
}

.optimal-album-mod .mod-hd .a-album:hover .alb-tit {
    color: #2979ff
}

.optimal-album-mod .mod-bd {
    background-color: #fff;
    padding: 10px
}

.optimal-album-mod .mod-bd .optimal-panel {
    display: none
}

.optimal-album-mod .mod-bd .album-cover {
    float: left;
    width: 220px
}

.optimal-album-mod .mod-bd .album-cover img {
    width: 230px;
    height: 332px
}

.optimal-album-mod .mod-bd .optimal-list {
    position: relative;
    float: right;
    width: 940px;
    overflow: hidden
}

.optimal-album-mod .mod-bd .optimal-item {
    float: left;
    width: 235px;
    height: 166px;
    position: relative
}

.optimal-album-mod .mod-bd .optimal-item img {
    position: absolute;
    z-index: 5;
    width: 110px;
    height: 110px;
    right: 10px;
    bottom: 10px
}

.optimal-album-mod .mod-bd .optimal-item .dis-txt {
    position: absolute;
    z-index: 10;
    width: 112px;
    top: 25px;
    left: 30px
}

.optimal-album-mod .mod-bd .optimal-item .mod-price {
    position: absolute;
    z-index: 10;
    top: 65px;
    left: 30px
}

.optimal-album-mod .mod-bd .optimal-item .hot-tag {
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    width: 34px;
    height: 30px;
    top: 10px;
    right: 10px;
    z-index: 6
}

.optimal-album-mod .mod-bd .optimal-item .tag-red {
    background-position: -75px -44px
}

.optimal-album-mod .mod-bd .optimal-item .tag-blue {
    background-position: -63px -508px
}

.optimal-album-mod .mod-bd .fake-border-h {
    top: 15px;
    height: 308px
}

.optimal-album-mod .mod-bd .fh_1 {
    left: 235px
}

.optimal-album-mod .mod-bd .fh_2 {
    left: 470px
}

.optimal-album-mod .mod-bd .fh_3 {
    left: 705px
}

.optimal-album-mod .mod-bd .fake-border-v {
    top: 166px
}

.topic-saying-mod {
    margin-bottom: 20px
}

.topic-saying-mod .mod-hd {
    background-color: #2979ff
}

.topic-saying-mod .mod-hd .tps-ico {
    background-position: -41px -271px
}

.topic-saying-mod .mod-bd {
    padding: 10px 0 0
}

.topic-saying-mod .mod-bd .topic-wrap {
    position: relative
}

.topic-saying-mod .mod-bd .topic-list {
    padding-bottom: 10px;
    width: 3000px
}

.topic-saying-mod .mod-bd .sc-slider {
    overflow: hidden;
    width: 1190px;
    height: 374px
}

.topic-saying-mod .mod-bd .scroll-btn {
    top: 120px;
    width: 22px;
    height: 50px;
    position: absolute;
    z-index: 100;
    cursor: pointer
}

.backBtn,
.j_eventBg {
    position: absolute;
    top: 0
}

.topic-saying-mod .mod-bd .sc-prev {
    left: 0;
    background-position: -42px -304px
}

.topic-saying-mod .mod-bd .sc-next {
    right: 0;
    background-position: -65px -304px
}

.topic-saying-mod .mod-bd .topic-s-item {
    transition: height linear .3s;
    margin-right: 10px;
    float: left;
    width: 290px;
    background-color: #fff;
    padding-bottom: 10px;
    overflow: hidden
}

.topic-saying-mod .mod-bd .topic-s-item img {
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s
}

.topic-saying-mod .mod-bd .topic-s-item:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

.topic-saying-mod .mod-bd .tps-img {
    width: 290px;
    height: 250px
}

.topic-saying-mod .mod-bd .tps-link {
    display: block;
    margin: 10px 0;
    padding: 0 10px
}

.topic-saying-mod .mod-bd .tps-link .dis-txt {
    color: #333;
    margin: 10px 0
}

.topic-saying-mod .mod-bd .tps-link:hover .dis-txt,
.topic-saying-mod .mod-bd .tps-link:hover .link-txt {
    color: #2979ff
}

.topic-saying-mod .mod-bd .link-wrap {
    height: 24px;
    line-height: 24px;
    overflow: hidden
}

.topic-saying-mod .mod-bd .link-txt {
    float: left;
    width: 60%;
    overflow: hidden;
    color: #999
}

.topic-saying-mod .mod-bd .mod-price {
    float: right;
    font-size: 12px
}

.topic-saying-mod .mod-bd .align-right {
    padding: 0 10px;
    line-height: 24px
}

.recommend-mod {
    margin-bottom: 20px
}

.recommend-mod .mod-hd {
    background-color: #2979ff
}

.recommend-mod .mod-hd .recom-ico {
    background-position: 0 -313px
}

.recommend-mod .mod-bd {
    padding: 10px 0;
    overflow: hidden
}

.recommend-mod .mod-bd .product-dis {
    margin: -10px 0 0 -10px
}

.recommend-mod .mod-bd .product-dis li {
    margin: 10px 0 0 10px;
    width: 230px;
    padding-bottom: 10px
}

.recommend-mod .mod-bd .product-dis .dis-link,
.recommend-mod .mod-bd .product-dis .dis-price {
    padding: 10px
}

.j_eventBg {
    width: 100%;
    height: 430px;
    left: 0;
    z-index: 3
}

.sopop-title1 {
    cursor: pointer;
    border-bottom: 2px solid #fff
}

.sopop-title1:hover {
    color: #333;
    border-bottom-color: #333
}

.changePhoneBtn {
    background-color: #ddd!important;
    color: #333!important;
    font-weight: 700
}

.backBtn {
    right: -10px;
    width: 70px;
    height: 42px;
    cursor: pointer;
    line-height: 42px!important;
    background-color: transparent!important;
    font-size: 16px
}

.recommend-mod .product-dis .dis-txt {
    padding: 0 10px;
}