@charset "UTF-8";
.btn-small,
.btn-small:hover {
    color: #fff
}

.wrapper {
    width: 1190px;
    margin: 0 auto;
}

.a-tip-servicer,
.btn-small,
.footer-mod .about-inf .ft-btn .ico,
.footer-mod .promise-item .ico,
.head-wrap .cart-empty-tip .empty-ico,
.head-wrap .mini-cart .cart-ico,
.head-wrap .search-form .btn-search,
.icon_v2,
.inlineBlock,
.links-ver,
.nav-bar .cate-ico,
.nav-bar .ul-nav i,
.so-popbox .s-sopop-close,
.top-bar .location-wrap .ico,
.topbox-close,
a.a-backtop {
    display: inline-block
}

.margin-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.btn-large {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 3px
}

.btn-small {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 11px;
    background-color: #2979ff
}

.align-right {
    text-align: right
}

.mark-link {
    color: #2979ff;
    text-decoration: underline
}

.footer-mod .promise-item a:hover,
a {
    text-decoration: none
}

.bread,
.grid-wrap {
    width: 1190px;
    margin: 10px auto
}

.bread .bread-sep,
.bread a {
    margin-right: 7px;
    font-size: 14px
}

.bread a {
    color: #333
}

.bread a:hover {
    color: #2979ff
}

.fd-left,
.layout-grid-left {
    float: left
}

.fd-right,
.layout-grid-right {
    float: right
}

.mark-red {
    color: #ff4949
}

.mark-blue {
    color: #2979ff
}

.mark-gray {
    color: #999
}

a,
body {
    color: #666
}

.ellipsis,
.head-wrap .hot-words {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dis-txt,
.multi-ellipsis,
.nav_main .panel_recommend_right .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.a-tip-servicer,
.footer-mod .about-inf .ft-btn .ico,
.footer-mod .promise-item .ico,
.head-wrap .cart-empty-tip .empty-ico,
.head-wrap .mini-cart .cart-ico,
.head-wrap .search-form .btn-search,
.icon_v2,
.nav-bar .cate-ico,
.nav-bar .ul-nav i,
.so-popbox .s-sopop-close,
.top-bar .location-wrap .ico,
.topbox-close,
a.a-backtop {
    background-image: url(http://cdn09.ehaier.com/v5/images/index_new_icos.png);
    background-repeat: no-repeat;
    vertical-align: middle
}

.links-ver {
    overflow: hidden;
    margin: 12px 10px 0;
    width: 1px;
    height: 10px;
    background-color: #999
}

.marginBottom_30 {
    margin-bottom: 30px
}

.shadow-transition {
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s
}

.a-tip-servicer,
.shadow,
a.a-backtop {
    box-shadow: 0 0 6px #aaa
}

.dis-txt {
    height: 36px
}

.red-tag {
    background-color: #f40
}

.yellow-tag {
    background-color: #f90
}

.fake-border-h,
.fake-border-v {
    position: absolute;
    background-color: #eaeaea;
    z-index: 10;
    overflow: hidden
}

.fake-border-h {
    width: 1px;
    height: 100%
}

.fake-border-v {
    height: 1px;
    width: 100%
}

* {
    margin: 0;
    padding: 0
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    border: 0;
    background: 0 0;
    cursor: pointer
}

a:hover {
    color: #2979ff
}

button,
input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

.hide,
.none {
    display: none
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: " ";
    font-size: 0
}

.mod-price {
    font-size: 14px;
    color: #ff4949
}

.mod-price i {
    font-family: arial;
    font-weight: 400;
    font-size: 12px
}

.page_max {
    min-width: 1190px
}

.page_min {
    min-width: 990px
}

.layout-grid {
    margin: 0 auto;
    width: 1190px
}

.page_min .layout-grid {
    width: 990px
}

.mod_ver {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0
}

.mod_lazyload {
    background-image: url(http://cdn09.ehaier.com/v5/images/search/imgbg.png)
}

.loading,
.mod_lazyload,
.mod_loading {
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.box_hd {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff
}

.box_hd_col1 {
    float: left
}

.box_hd_col2 {
    float: right
}

.box_hd_dec {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px
}

.box_hd_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent
}

.head-wrap,
.head-wrap .search-mod {
    position: relative
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em
}

textarea {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

.top-bar {
    background-color: #f6f6f6
}

.top-bar .bar-wrap {
    line-height: 35px
}

.top-bar .location-wrap {
    float: left
}

.top-bar .location-wrap .ico {
    width: 15px;
    height: 20px;
    background-position: 0 -1px
}

.top-bar .location-wrap .s-city {
    color: #333;
    cursor: pointer
}

.top-bar .bar-links li {
    float: left;
    color: #999;
    position: relative;
}

.top-bar .bar-links li a {
    color: #999;
    position: relative;
    z-index: 30;
}

.top-bar .bar-links li a:hover {
    color: #2979ff
}

.top-bar .bar-links .w-login {
    margin-right: 20px
}

.top-bar .bar-links .w-login span {
    margin-right: 7px
}

.top-bar .bar-links .w-login .links-ver {
    margin: 12px 3px 0
}

.head-wrap {
    background-color: #fff;
    z-index: 20;
    padding-top: 33px;
    padding-bottom: 15px
}

.head-wrap .h1-site {
    float: left;
    padding: 0 0 0 15px;
    position: relative
}

.head-wrap .h1-site .s-slogan {
    margin-left: 10px
}

.head-wrap .h1-site .full-slg {
    position: absolute;
    top: -10px;
    width: 300px;
    height: 65px;
    overflow: hidden
}

.head-wrap .h1-site img {
    float: none!important
}

.head-wrap .cart-wrap {
    position: absolute;
    top: 0;
    right: 64px;
    z-index: 20
}

.head-wrap .all-search {
    width: 540px;
    margin: 0 auto;
    position: relative
}

.head-wrap .search-form {
    position: relative
}

.head-wrap .search-form .txt-search {
    width: 470px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #2979ff;
    padding: 0 10px;
    vertical-align: middle;
    color: #999;
    border-radius: 0
}

.head-wrap .search-form .btn-search {
    display: inline;
    width: 50px;
    height: 32px;
    background-color: #2979ff;
    background-position: -62px 1px;
    position: absolute;
    right: 0
}

.head-wrap .hot-words {
    padding: 5px 0
}

.head-wrap .hot-words a {
    color: #999;
    margin-right: 10px
}

.head-wrap .hot-words a.mark-blue,
.head-wrap .hot-words a:hover {
    color: #2979ff
}

.head-wrap .ul-searchKeyList {
    position: absolute;
    top: 32px;
    left: 0;
    overflow: hidden;
    width: 538px;
    border: 1px solid #f2f2f2;
    background: #fff;
    z-index: 10;
    display: none
}

.head-wrap .ul-searchKeyList li {
    padding: 0 10px;
    line-height: 1.9em;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.head-wrap .ul-searchKeyList .li-searchKeyOver {
    background: #e3e3e3
}

.head-wrap .ul-searchKeyList .s-keyword {
    float: left;
    color: #666
}

.head-wrap .ul-searchKeyList .s-keyNumber {
    float: right;
    color: #999
}

.head-wrap .mini-cart {
    border: 1px solid #eaeaea;
    position: relative;
    width: 168px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    z-index: 30;
    background-color: #fff
}

.head-wrap .mini-cart a {
    color: #000
}

.head-wrap .mini-cart a:hover {
    color: #2979ff
}

.head-wrap .mini-cart .cart-ico {
    width: 15px;
    height: 15px;
    background-position: -75px -232px;
    vertical-align: text-top
}

.s-share .a-share,
.s-username,
.so-popbox .chk,
.so-popbox .txt,
.so-popbox .txta,
.so-popbox img {
    vertical-align: middle
}

.head-wrap .mini-cart .shop-num {
    background-color: #f40;
    color: #fff;
    border-radius: 7px;
    position: absolute;
    min-width: 12px;
    text-align: center;
    padding: 1px;
    line-height: 12px;
    font-size: 12px;
    top: 5px;
    left: 124px
}

.head-wrap .mini-cart-list {
    display: none;
    position: absolute;
    background-color: #fffefe;
    z-index: 20;
    width: 310px;
    border: 1px solid #eaeaea;
    top: 32px;
    right: 0
}

.head-wrap .mini-cart-over .mini-cart {
    background-color: #fffefe;
    border-bottom-color: #fffefe
}

.head-wrap .mini-cart-over .mini-cart .cart-ico {
    background-position: -99px -231px
}

.head-wrap .mini-cart-over .mini-cart a {
    color: #2979ff
}

.head-wrap .mini-cart-over .mini-cart-list {
    display: block
}

.head-wrap .cart-empty-tip {
    padding: 15px;
    line-height: 30px;
    text-align: center
}

.head-wrap .cart-empty-tip .empty-ico {
    width: 25px;
    height: 43px;
    background-position: -99px -271px
}

.head-wrap .cart-pop .ul-mini-cart-list li {
    overflow: hidden;
    zoom: 1;
    padding: 12px 12px 10px;
    border-bottom: 1px solid #ececec;
    line-height: 1.5em
}

.head-wrap .cart-pop .ul-mini-cart-list .a-thumb {
    float: left
}

.head-wrap .cart-pop .ul-mini-cart-list .a-title {
    float: left;
    width: 120px;
    height: 56px;
    overflow: hidden;
    min-height: 48px;
    margin: 0 0 0 10px;
    display: inline;
    color: #333
}

.head-wrap .cart-pop .ul-mini-cart-list .a-title:hover {
    color: #2979ff
}

.head-wrap .cart-pop .ul-mini-cart-list .s-price {
    float: right;
    min-width: 100px;
    height: 24px;
    text-align: right;
    color: #f40
}

.head-wrap .cart-pop .ul-mini-cart-list .s-del {
    float: right;
    color: #999;
    cursor: pointer
}

.head-wrap .cart-pop .ul-mini-cart-list .em-price {
    font-size: 16px;
    font-weight: 400;
    padding: 0 2px
}

.h2-sopop,
.head-wrap .cart-ft .s-total i,
.so-popbox .p-popTip {
    font-weight: 700
}

.head-wrap .cart-pop .ul-mini-cart-list .js_thumb {
    border: 1px solid #ddd
}

.head-wrap .cart-ft {
    background-color: #ececec;
    overflow: hidden;
    zoom: 1;
    padding: 12px 12px 10px;
    border-top: 1px solid #eee;
    line-height: 1.6em
}

.head-wrap .cart-ft .p-total {
    float: left
}

.head-wrap .cart-ft .cart-account {
    float: right
}

.nav-bar {
    line-height: 40px;
    background-color: #2979ff
}

.nav-bar .category-mod {
    float: left;
    width: 192px;
    line-height: 40px;
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, .4)
}

.nav-bar .panel_recommend_right {
    line-height: 1.6
}

.nav-bar .category-hd {
    position: relative;
    display: block;
    height: 40px
}

.nav-bar .cate-tit {
    color: #fff;
    margin-left: 15px;
    font-size: 14px
}

.nav-bar .cate-ico {
    float: right;
    right: 15px;
    width: 25px;
    height: 25px;
    background-position: -33px 0;
    margin: 10px 10px 0 0
}

.nav-bar .nav_main {
    position: absolute;
    left: 0
}

.nav-bar .ul-nav {
    float: left;
    margin-left: 15px
}

.nav-bar .ul-nav li {
    float: left;
    padding: 0 0 0 35px;
    position: relative
}

.nav-bar .ul-nav li a {
    font-size: 14px;
    color: #f3f3f3;
    font-weight: 700
}

.nav-bar .ul-nav li a:hover {
    color: #fff
}

.nav-bar .ul-nav i {
    width: 18px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: -18px
}

.nav-bar .ul-nav .ico-hot {
    background-position: 0 -597px
}

.nav-bar .ul-nav .ico-new {
    background-position: 0 -623px
}

.nav-bar .ul-nav .ico-vip {
    background-position: 0 -648px
}

a.a-all-category {
    display: block;
    height: 40px;
    text-align: center;
    font-size: 1.34em;
    color: #fff
}

.nav_main .left {
    float: left
}

.nav_main .right {
    float: right
}

.nav_main .none {
    display: none!important
}

.nav_main .panel_recommend .red {
    background: #d71247
}

.nav_main .panel_recommend .blue {
    background: #0a5ca8
}

.nav_main {
    height: 430px;
    position: relative;
    overflow: hidden
}

.nav_display {
    display: none
}

.nav_main .nav_wrap {
    width: 192px;
    height: 430px;
    box-sizing: border-box;
    padding: 15px 0;
    background: rgba(0, 0, 0, .6);
    filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#9F000000, endcolorstr=#9F000000);
    cursor: pointer
}

.nav_main .nav_ul {
    width: 192px;
    color: #fff;
    font-size: 14px
}

.nav_main .nav_ul li {
    width: 192px;
    height: 36px;
    line-height: 36px;
    position: relative;
    padding-left: 12px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav_main .nav_ul li a {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%
}

.nav_main .nav_ul li i {
    width: 8px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 12px;
    background: url(http://cdn09.ehaier.com/v5/images/jiantou.png) left top no-repeat
}

.nav_main .nav_ul li .ibackground {
    background: url(http://cdn09.ehaier.com/v5/images/jiantou2.png) left top no-repeat
}

.nav_main .show {
    height: 430px;
    position: absolute;
    left: 192px;
    top: 0;
    overflow: hidden;
}

.nav_main .show .showpanel {
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: 12px
}

.nav_main .showpanel .panel_left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background: #FFF;
    overflow: hidden
}

.nav_main .panel_left .panel_zuo_ul {
    width: 207px;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative
}

.nav_main .panel_left .panel_zuo_ul ul,
.panel_left .panel_zuo_ul div {
    width: 207px
}

.nav_main .panel_left .panel_zuo_ul b {
    font-size: 14px;
    display: block;
    margin: 5px 0 10px 35px;
    line-height: 1.8
}

.nav_main .panel_left .panel_zuo_ul ul li {
    width: 207px;
    height: 50px
}

.nav_main .panel_left .panel_zuo_ul li a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block
}

.nav_main .panel_left .panel_zuo_ul li img {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 5px 28px 0;
    border: none
}

.nav_main .panel_left .panel_zuo_ul .panel_zuo_ulStyle {
    width: 414px
}

.nav_main .panel_left .panel_zuo_ul .panel_zuo_ulStyle ul {
    width: 414px;
    overflow: hidden
}

.nav_main .panel_left .panel_zuo_ul .panel_zuo_ulStyle li {
    float: left
}

.nav_main .panel_left .panel_zuo_ul .panel_zuo_ulYou {
    width: 207px
}

.nav_main .panel_left .panel_zuo_ulYou li img {
    margin: 5px 36px 0 25px
}

.nav_main .panel_left .panel_zuo_ulYou b {
    margin: 15px 0 20px 15px
}

.nav_main .panel_left .panel_recommend {
    width: 240px
}

.nav_main .panel_left .panel_recommend li {
    width: 232px;
    height: 104px;
    background: #FFF;
    border: 4px solid #f0f0f0;
    float: left;
    border-bottom: none
}

.nav_main .panel_recommend img {
    width: 70px;
    height: 70px;
    margin: 0 28px 0 17px;
    border: none
}

.nav_main .panel_recommend span {
    width: 60px;
    height: 20px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 0 auto 1px
}

.nav_main .panel_recommend_right .name {
    width: 90px;
    display: inline-block;
    margin: 8px 0 6px;
    height: 36px;
    overflow: hidden
}

.nav_main .panel_recommend_right .price {
    display: block
}

.nav_main .showpanel .panel_right {
    width: 240px;
    position: absolute;
    right: 240px;
    top: 0;
    z-index: 2;
    background: #FFF
}

.nav_main .showpanel .panel_right div {
    width: 100%;
    height: 50%;
    overflow: hidden;
    line-height: 1.6
}

.nav_main .showpanel .panel_right .border_bottom {
    border-bottom: 1px solid #f9f9f9;
    box-sizing: border-box
}

.nav_main .showpanel .panel_right div img {
    width: 126px;
    height: 126px;
    display: block;
    margin: 18px auto 0;
    border: none
}

.nav_main .showpanel .panel_right div p {
    margin-top: 6px;
    text-align: center
}

.nav_main .showpanel .panel_right div p:nth-of-type(2) {
    color: #a7a7a7
}

.all-category-box-over a.a-all-category {
    background: 0 0!important
}

.s-thumb-prev {
    left: 200px;
    background-position: -2px -1155px
}

.s-thumb-next {
    right: 10px;
    background-position: -41px -1155px
}

.s-thumb-next,
.s-thumb-prev {
    position: absolute;
    top: -250px;
    width: 30px;
    height: 50px;
    opacity: .85;
    cursor: pointer;
    filter: alpha(opacity=85)
}

.s-share .a-share {
    background: url(http://cdn09.ehaier.com/v5/images/sprite-share.png) no-repeat
}

.so-popbox {
    width: 400px
}

.so-popbox .s-close,
.so-popbox .s-sopop-close {
    position: absolute;
    top: 0;
    right: 4px;
    width: 38px;
    height: 38px;
    background-position: -173px 4px;
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer
}

.p-so-popBtn .a-sopop-btn {
    background: #0059aa;
    text-align: center
}

.so-popbox a.a-btn {
    line-height: 22px
}

.so-popbox a.a-sopop-btn {
    line-height: 25px
}

.so-openmask {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    background: #000;
    filter: alpha(opacity=70);
    opacity: .7;
    cursor: pointer;
    z-index: 200
}

.so-popbox {
    display: none;
    padding: 0 0 10px;
    background-color: #f4f5f7;
    text-align: left;
    position: fixed;
    z-index: 220;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #555;
    -webkit-box-shadow: 2px 2px 2px #555;
    -moz-box-shadow: 2px 2px 2px #555
}

.h2-sopop {
    background-position: 0 0;
    background-repeat: repeat-x;
    font-family: "微软雅黑";
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    cursor: move
}

.so-popbox .p-item {
    overflow: hidden;
    zoom: 1;
    padding: 6px 0
}

.so-popbox .s-item {
    float: left;
    width: 48%;
    margin-right: 1%;
    display: inline
}

.so-popbox .itemtitle {
    float: left;
    width: 100px;
    text-align: right;
    margin: 0 5px 0 0;
    line-height: 2em
}

.so-popbox .txt,
.so-popbox .txta {
    border: 1px solid #ccc;
    width: 175px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    margin: 0 5px 0 0;
    color: #666
}

.so-popbox .lab-sel,
.so-popbox img {
    margin-right: 8px
}

.h2-sopop,
.so-popbox a.a-btn:hover,
.so-popbox a.a-sopop-btn:hover {
    color: #fff
}

.so-popbox .txta {
    width: 250px;
    height: 6em;
    line-height: 1.5em;
    padding: 4px 6px
}

.so-popbox .txt-1 {
    width: 60px
}

.so-popbox .p-btn,
.so-popbox .p-sel {
    padding: 8px 0 8px 100px;
    overflow: hidden;
    zoom: 1
}

.so-popbox .p-btn {
    line-height: 33px
}

.so-popbox-cont {
    padding: 20px 20px 10px;
    overflow: hidden;
    zoom: 1;
    line-height: 1.8em
}

.p-so-popBtn {
    clear: both;
    overflow: hidden;
    padding: 5px;
    text-align: center
}

.so-popbox a.a-btn,
.so-popbox a.a-sopop-btn {
    padding: 0 15px;
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 25px\9;
    color: #fff;
    margin: 0 5px
}

.so-popbox .s-btn,
.so-popbox .s-sopop-btn {
    display: -moz-inline-stack;
    display: inline-block;
    height: 25px;
    cursor: pointer
}

.so-popbox a.a-cancel:hover,
.so-popbox a.a-sopop-cancel:hover {
    color: #d71249
}

.allcity-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    width: 100%;
    z-index: 199;
    cursor: pointer
}

.allcity-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 670px;
    height: 520px;
    padding: 0 0 20px;
    margin: -260px 0 0 -335px;
    background: #fff;
    z-index: 200;
    box-shadow: 1px 1px 8px #333;
    -webkit-box-shadow: 1px 1px 8px #333;
    -moz-box-shadow: 1px 1px 8px #333
}

.h2-sopop {
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    margin-bottom: 1px;
    background: #2979ff;
    font-size: 1.34em
}

.city-letter-mark {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 32px;
    border-bottom: 1px solid #eaeaea
}

.city-letter-mark a {
    float: left;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin: 0 9px 0 0;
    font-weight: 400;
    display: inline;
    text-align: center
}

.city-letter-mark .active {
    border-bottom: 1px #2979ff solid;
    color: #2979ff
}

.so-popbox .s-sopop-close {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 2em;
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Tahoma, Verdana
}

.city-list {
    position: relative;
    height: 430px;
    padding: 0 18px 0 22px;
    overflow: auto
}

.city-list li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    overflow: hidden;
    zoom: 1
}

.city-list .note {
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 5px 0 0 2px;
    width: 28px;
    font-size: 14px;
    font-weight: 600
}

.city-list dl {
    float: right;
    overflow: hidden;
    zoom: 1;
    padding: 3px 0 3px 40px;
    width: 540px
}

.city-list dt {
    float: left;
    font-weight: 700;
    margin-left: -40px;
    padding: 3px 5px;
    white-space: nowrap;
    display: inline
}

.city-list dd {
    float: left;
    margin-right: 3px;
    white-space: nowrap;
    display: inline
}

.city-list a {
    float: left;
    padding: 2px 5px
}

.city-list a.active,
.city-list a:hover {
    background-color: #2979ff;
    color: #fff
}

.cityChoose-mod {
    padding-top: 40px;
    position: relative
}

.footer-mod {
    margin-bottom: 20px;
    background-color: #fff
}

.footer-mod .ul-all-promise {
    width: 100%;
    padding: 35px 0 25px;
    border-bottom: 1px #eaeaea solid
}

.footer-mod .promise-item {
    width: 25%;
    position: relative;
    float: left
}

.footer-mod .promise-item a {
    display: block;
    padding-left: 25px
}

.footer-mod .promise-item a p {
    color: #999
}

.footer-mod .promise-item .ico {
    background-position-y: -444px;
    width: 43px;
    height: 43px;
    float: left;
    margin-right: 5px
}

.footer-mod .promise-item .btm-survico {
    margin-bottom: 3px;
    color: #333;
    font-weight: 400
}

.footer-mod .promise-item .links-ver {
    position: absolute;
    right: 0;
    height: 33px;
    vertical-align: middle;
    margin: 0;
    top: 3px;
    background-color: #eaeaea
}

.footer-mod .li-promise-2 .ico {
    background-position-x: -50px
}

.footer-mod .li-promise-3 .ico {
    background-position-x: -97px
}

.footer-mod .li-promise-4 .ico {
    background-position-x: -144px
}

.footer-mod .service-wrap {
    padding: 20px 0 40px
}

.footer-mod .service-help {
    float: left;
    width: 73%;
    position: relative;
    padding-left: 2%
}

.footer-mod .service-help .links-ver {
    position: absolute;
    background-color: #eaeaea;
    height: 170px;
    right: 0;
    top: 7px;
    margin: 0
}

.footer-mod .help-item {
    float: left;
    width: 20%
}

.footer-mod .help-item dt {
    color: #333;
    margin-bottom: 18px
}

.footer-mod .help-item dd {
    line-height: 22px
}

.footer-mod .help-item dd a {
    color: #999
}

.footer-mod .help-item dd a:hover {
    color: #2979ff
}

.footer-mod .about-inf {
    float: left;
    width: 24%;
    padding: 5px 0 0
}

.footer-mod .about-inf .ft-btn {
    display: block;
    width: 128px;
    height: 28px;
    line-height: 28px;
    margin: 0 0 15px 20px;
    border: 1px solid #eaeaea;
    position: relative
}

.footer-mod .about-inf .ft-btn .ico {
    width: 22px;
    height: 22px;
    margin-left: 20px;
    margin-right: 6px
}

.footer-mod .about-inf .ft-btn .img-wechat {
    position: absolute;
    z-index: 100;
    top: 29px;
    left: 0;
    display: none
}

.footer-mod .about-inf .wx-btn .ico {
    background-position: -101px -201px
}

.footer-mod .about-inf .wx-btn:hover .img-wechat {
    display: block
}

.footer-mod .about-inf .kf-btn .ico {
    background-position: -72px -201px
}

.copyright-mod {
    padding-bottom: 15px
}

.copyright-mod .a-links {
    margin-bottom: 10px;
    text-align: center
}

.copyright-mod .a-links .links-ver {
    background-color: #c7c7c7;
    margin: 0 6px
}

.copyright-mod p {
    margin: 6px 0;
    text-align: center;
    color: #999
}

.copyright-mod .p-all-honor {
    margin-top: 36px
}

.copyright-mod .p-all-honor a {
    margin: 0 6px
}

.all-tipbar {
    position: fixed;
    right: 5px;
    bottom: 40px;
    width: 60px;
    z-index: 100
}

.a-tip-servicer,
.all-tipbar .s-wx2w,
a.a-backtop {
    display: block;
    width: 50px;
    text-indent: -999em;
    overflow: hidden
}

.all-tipbar .s-wx2w {
    margin-bottom: 2px;
    height: 140px;
    background: url(http://cdn09.ehaier.com/v5/images/ballon.png) -4px 18px no-repeat;
    background-size: 50px;
    cursor: hand;
    cursor: pointer
}

.a-tip-servicer,
a.a-backtop {
    height: 50px
}

.all-tipbar .img-wx2w {
    position: absolute;
    top: -44px;
    left: -145px;
    display: none;
    width: 150px;
    height: 184px
}

a.a-backtop {
    display: none;
    background-color: #fff;
    background-position: right -191px;
    opacity: .9;
    filter: alpha(opacity=90)
}

a.a-backtop:hover {
    background-position: right -148px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.all-tipbar-show a.a-backtop,
.s-wx2w-over .img-jiangunfold,
.s-wx2w-over .img-wx2w {
    display: block
}

.a-tip-servicer {
    margin-bottom: 10px;
    background-color: #fff;
    background-position: right -238px;
    opacity: .9;
    cursor: pointer;
    filter: alpha(opacity=90)
}

.a-tip-servicer:hover {
    background-position: right -288px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.s-username {
    width: 60px;
    display: inline-block;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-right: 0!important
}

.s-share .a-share {
    display: -moz-inline-stack;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    text-indent: -999em;
    overflow: hidden;
    text-indent: 0\9;
    font-size: 0;
    line-height: 0;
    color: #fff
}

.s-share .a-share-qqZone {
    background-position: 0 0
}

.s-share .a-share-sina {
    background-position: -16px 0
}

.s-share .a-share-qqwb {
    background-position: -32px 0
}

.s-share .a-share-renren {
    background-position: -48px 0
}

.s-share .a-share-kaixin {
    background-position: -64px 0
}

.s-share .a-share-douban {
    background-position: -80px 0
}

.bigwrapper,
.crumb {
    background: #FFF
}

.crumb {
    line-height: 30px;
    padding: 5px 4px;
    clear: both
}

.crumb .now,
.crumb a {
    margin: 0 4px
}

.crumb .now {
    color: #d71249;
    font-weight: 700
}

.layout-grid-1000 {
    width: 1000px;
    margin: 0 auto
}

.layout-grid-1000 .cart-wrap {
    right: 0
}

.layout-grid-1000 .all-search {
    width: 490px
}

.layout-grid-1000 .search-form .txt-search {
    width: 418px
}

.layout-grid-1000 .ul-searchKeyList {
    width: 488px
}

.layout-grid-1000 .ul-nav {
    margin-left: 0
}

.j_sg {
    position: relative;
    z-index: 25
}

.j_sg .img-app-qr {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 20px;
    display: none
}

.j_sg:hover .img-app-qr,
.topbox-close {
    display: block
}

.topbox {
    position: relative
}

.topbox-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    background-position: -185px -508px;
    cursor: pointer
}

.topbox-close:hover {
    opacity: 1;
    background-position: -185px -523px
}

[id^="chunasqwd_ad"] {
    display: none;
}

.search-tag {
    position: absolute;
    background: #2979FF;
    color: #fff;
    height: 18px;
    line-height: 18px;
    border-radius: 8px;
    padding: 0 8px;
    top: 2px;
    right: 110px;
}

.zy-mark {
    display: inline-block !important;
    color: #2979ff;
    border: 1px #2979ff solid;
    padding: 0 2px;
    height: 14px !important;
    line-height: 14px;
    border-radius: 3px;
    font-size: 12px;
    vertical-align: middle;
}

a.search-tag:hover {
    color: #fff !important;
}

.top-bar .bar-links li a {
    display: block;
    padding: 0 10px;
    border: 1px #f6f6f6 solid;
    border-top: 0 none;
    border-bottom: 0 none;
}

.top-bar .bar-links .w-login a {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 35px;
    border: 0 none;
}

.top-bar .bar-links .J_tnliHover {
    background-image: url(http://cdn09.ehaier.com/v5/images/index_new_icos.png);
    background-position: right -655px;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
}

.top-bar .bar-links li .topNav-layer {
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    background: #fff;
    z-index: 40;
}

.top-bar .bar-links .hover {
    background-color: #fff;
}

.top-bar .bar-links .hover a {
    border: 1px #ededed solid;
    border-top: 0 none;
    border-bottom: 0 none;
}

.top-bar .bar-links .hover .topNav-layer {
    background: #fff;
    border-bottom: 1px #ededed solid;
    display: block;
}

.top-bar .bar-links .hover .topNav-layer a {
    margin-top: 0;
    border-top: 0 none;
}

.top-bar .bar-links .links-ver {
    height: 10px;
    margin: 12px 0 0;
}

.bottom-qr {
    padding: 0 0 0 10px;
}

.bottom-qr span {
    float: left;
    margin-left: 5px;
    text-align: center;
    color: #333;
}

body,
html {
    height: 100%;
}

.platMask-container {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1013;
}

.login-xieyi-mod {
    position: fixed;
    z-index: 1014;
    width: 500px;
    padding: 20px 40px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 8px;
    top: 10%;
    left: 50%;
    margin-left: -290px;
}

.xy-hd {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.scoll-content {
    overflow-y: scroll;
    height: 300px;
}

.scoll-content dl {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 14px;
}

.scoll-content dt,
.scoll-content dd {
    line-height: 1.8;
}

.scoll-content dt {
    position: relative;
    color: #2979FF;
}

.scoll-content dt a {
    color: #2979FF;
    border-bottom: 1px #2979FF solid;
}

.scoll-content dt .k-ico {
    width: 6px;
    height: 6px;
    background-color: #2979FF;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.scoll-content::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #F5F5F5;
}

.scoll-content::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scoll-content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
}

.xy-buttons {
    text-align: center;
    padding-top: 15px;
}

.xy-buttons button {
    width: 178px;
    height: 44px;
    border-radius: 22px;
    font-size: 16px;
}

.btn-ag {
    background-color: #2979FF;
    color: #fff;
    border: 1px #2979FF solid;
    margin-right: 30px;
}

.btn-diag {
    background-color: #fff;
    color: #999;
    border: 1px #999 solid;
}

body,
html {
    height: 100%;
}

.platMask-container {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1013;
}

.login-xieyi-mod {
    position: fixed;
    z-index: 1014;
    width: 500px;
    padding: 20px 40px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 8px;
    top: 10%;
    left: 50%;
    margin-left: -290px;
}

.xy-hd {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.scoll-content {
    overflow-y: scroll;
    height: 300px;
}

.scoll-content dl {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 14px;
}

.scoll-content dt,
.scoll-content dd {
    line-height: 1.8;
}

.scoll-content dt {
    position: relative;
    color: #2979FF;
}

.scoll-content dt a {
    color: #2979FF;
    border-bottom: 1px #2979FF solid;
}

.scoll-content dt .k-ico {
    width: 6px;
    height: 6px;
    background-color: #2979FF;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.scoll-content::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #F5F5F5;
}

.scoll-content::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scoll-content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
}

.xy-buttons {
    text-align: center;
    padding-top: 15px;
}

.xy-buttons button {
    width: 178px;
    height: 44px;
    border-radius: 22px;
    font-size: 16px;
}

.btn-ag {
    background-color: #2979FF;
    color: #fff;
    border: 1px #2979FF solid;
    margin-right: 30px;
}

.btn-diag {
    background-color: #fff;
    color: #999;
    border: 1px #999 solid;
}