@charset "utf-8";

/* 第五部分为你推荐 */

.recommend-mod {
    margin-bottom: 20px
}

.recommend-mod .mod-hd {
    background-color: #2979ff
}

.recommend-mod .mod-hd .recom-ico {
    background-position: 0 -313px
}

.recommend-mod .mod-bd {
    padding: 10px 0;
    overflow: hidden
}

.recommend-mod .mod-bd .product-dis {
    margin: -10px 0 0 -10px;
    width: 1200px;
}

.recommend-mod .mod-bd .product-dis li {
    margin: 10px 0 0 10px;
    width: 230px;
    padding-bottom: 10px
}

.recommend-mod .mod-bd .product-dis .dis-link,
.recommend-mod .mod-bd .product-dis .dis-price {
    padding: 10px
}

.product-dis li {
    float: left;
    margin-left: 10px;
    position: relative;
    background-color: #fff
}

.product-dis .dis-link {
    display: block
}

.product-dis .dis-link img {
    display: block;
    margin: 17px auto
}

.recommend-mod .product-dis .dis-txt {
    padding: 0 10px;
}