@charset "utf-8";
a,
body {
    color: #666;
}

a {
    text-decoration: none
}

div,
p,
span,
em,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

.register-header,
.register-body {
    width: 100%;
    overflow: hidden;
    min-width: 1000px;
    background: #fff;
}

.register-header {
    border-bottom: 1px solid #f2f2f2;
}

.inner {
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 1000px;
}

.register-logo1,
.register-logo2 {
    width: 168px;
    height: 60px;
}

.register-body {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    min-height: 500px;
    padding-bottom: 50px;
    position: relative;
}

.register-body .inner {
    height: 430px;
    background: url(../img/shop_login_wrap_bg.png) no-repeat
}

.register-bg {
    background: #e8e8e8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
}

.register-enter {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 488px;
}

.register-enter h2 {
    border-bottom: 1px solid #ddd;
    font: 22px/22px 'Microsoft Yahei';
    padding: 20px 0 20px 15px;
    position: relative;
}

.register-enter h2 a {
    background-position: 0 0;
    color: #005aaa;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    right: 15px;
    padding-left: 25px;
}

.register-choose p {
    padding: 0px 114px;
    text-align: center;
}

.register-choose p a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #606060;
    cursor: pointer;
    font: 14px/47px "微软雅黑";
    color: #32beff;
    border-bottom: 2px solid #32beff;
}

.register-form-inner {
    width: 320px;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.register-form-inner input {
    border: 1px solid #e4e4e4;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    width: 217px;
    color: #a4a4a4;
    font-size: 14px;
    margin-bottom: 25px;
    border-radius: 3px;
}

.forget-pass {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
    text-align: right;
    color: #005aaa;
}

.register-btn {
    padding: 8px 0;
}

.register-form-inner .register-btn {
    display: block;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;
    color: #fff;
    background: url(../img/shop_abtn_blue.png) no-repeat 0 -450px;
    overflow: hidden;
}